@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import "./root.scss";
@import "./header.scss";
@import "./footer.scss";

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 50px;
	padding: 28px 0;
	width: 404px;
	overflow: none;
	border-radius: 100px;
	transition: $transition;
	text-decoration: none;
	font: normal small-caps 400 18px $font-family;
	
	&:hover {
		cursor: pointer;
	}
}

.header {
	&-title {
		width: 58%;
	}
}

.intro {
	padding-top: 250px;
	padding-bottom: 0 !important;

	.container {
		display: flex;
		justify-content: space-between;
	}

	&-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: stretch;
		width: 50%;

		&-heading {
			font: normal small-caps 400 24px "Rubik", sans-serif;
			text-align: center;
			line-height: 60px;
			margin-bottom: 60px;

		}

		&-button {
			background-color: white;
			color: $red-medium;
			border: 1px solid $red-medium;
		}
	}

	&-image {
		position: relative;
		z-index: 2;
		width: 50%;
		top: -50px;

		img {
			height: auto;
			max-width: 100%;
		}
	}

	&-list {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		list-style: none;
		width: 100%;

		&-item {
			display: block;
			margin: 0 auto;
			text-align: center;

			&-text {
				font: normal normal 800 16px "Rubik", sans-serif;
			}

			&-img {
				height: 78px;
				width: auto;
				margin-top: 22px;
			}
		}
	}

	&-divider {
		z-index: -1;
		position: relative;
		top: calc(-6vw - 151px);
		width: 100%;

		img {
			width: 100%;
		}
	}
}

@keyframes scrollingClients {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-50%, 0);
	}
}

.clients {
	padding: 0;
	background-color: $gray-light;
	position: relative;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	height: 150px;

	&-carousel {
		position: absolute;
		left: 0;
		overflow-x: hidden;
		white-space: nowrap;
		animation: scrollingClients 30s linear infinite;
	}

	&:hover .clients-carousel {
		animation-play-state: paused;
	}

	&-store {
		margin: 0 4vw;
		height: 80px !important;
	}
}

@keyframes benefitsItemIn {
	0% {
		top: 0;
	}

	100% {
		top: -15px;
	}
}

@keyframes benefitsItemOut {
	0% {
		top: -15px;
	}

	100% {
		top: 0;
	}
}

.benefits {
	text-align: center;

	&-text {
		margin-bottom: 50px;

		h2 {
			font-weight: 400;
			margin-bottom: 20px;
		}
	}

	&-items {

		&-heading {
			font-weight: 700 !important;
			color: $red-medium !important;
		}

		&-list {
			padding: 50px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&::before {
				content: "";
				position: absolute;
				z-index: -1;
				left: 0;
				height: 450px;
				min-width: 1400px;
				width: 95%;
				background-color: $gray-light;
				border-radius: 0 400px 400px 0;
			}

			&-item {
				position: relative;
				transition: $transition;
				padding: 0 20px;

				&:first-of-type {
					padding-left: 0 !important;
				}

				&:last-of-type {
					padding-right: 0 !important;
				}

				&:hover {
					animation: benefitsItemIn 0.3s;
					animation-fill-mode: forwards;
				}

				&:not(:hover) {
					animation: benefitsItemOut 0.3s;
					animation-fill-mode: forwards;
				}

				figure {
					margin: 0;

					img {
						width: 100%;
						height: auto;
						max-height: 320px;
						max-width: 320px;
					}

					figcaption {
						margin-top: 25px;
						font-size: 25px;

						span {
							font-weight: 500;
						}
					}
				}
			}

		}
	}

	&-buttons {
		display: flex;
		justify-content: center;
		align-items: center;

		&-button {
			margin: 0 30px;
			transition: $transition;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}

			&--full {
				color: white;
				background: $red-medium;
			}

			&--outlined {
				color: $red-medium;
				background: white;
				border: 1px solid $red-medium;
			}
		}
	}
}

.easybox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	padding: 50px 0;
	box-shadow: 0 15px 15px #0000000a;
	line-height: 30px;

	h2 {
		font-weight: 400;
	}
}

.options {
	display: flex;
	flex-direction: column;
	align-items: center;

	&-header {
		text-align: center;
		color: $red-medium;
	}

	&-list {
		width: 90%;
		padding-left: 15%;
		columns: 2;

		&-item {
			display: flex;
			align-items: center;
			font: normal normal 400 22px $font-family;
			color: $gray-dark;
			padding-bottom: 20px;
			list-style-type: none;

			&::before {
				content: "\25ef";
				font-size: 12px;
				font-weight: 900;
				color: $red-medium;
				padding-right: 2ch;
			}
		}
	}

	&-buttons {
		display: flex;
		justify-content: center;
		align-items: center;

		&-button {
			margin: 0 30px;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}

			&--full {
				color: white;
				background: $red-medium;
			}

			&--outlined {
				color: $red-medium;
				background: white;
				border: 1px solid $red-medium;
			}
		}
	}
}

.try {
	padding-top: 0 !important;
	padding-bottom: 150px;

	&-map {
		position: relative;
		z-index: 1;
		opacity: 0.5;
		height: 400px;
		background-image: url("../assets/dispecink/Mapa.png");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

	&-box {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: linear-gradient(103deg, $red-medium, $red-light);
		margin-top: -200px;
		z-index: 2;
		padding: 60px 80px;
		border-radius: 40px;

		&-text {
			text-align: center;
			color: white;

			&-heading {
				margin: 0;
				font: normal normal 400 35px $font-family;
			}

			&-para {
				text-align: center;
				font: normal normal 500 26px $font-family;
			}

			&-button {
				background-color: white;
				color: $red-medium;
				margin: 0 auto;
			}
		}

		&-img {
			position: relative;
			top: 20px;
			margin: -200px 0;
			z-index: 3;
		}
	}
}

@media screen and (max-width: 1400px) {
	.intro {
		&-divider {
			top: calc(-6vw - 90px);
		}
	}

	.benefits {
		&-items {
			&-list {
				&::before {
					height: 370px;
					min-width: 1200px;
				}

				&-item {
					padding: 0 calc(80/100vw) !important;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.intro {
		overflow-x: hidden;

		&-list {
			flex-wrap: wrap;
			justify-content: center;
			align-items: stretch;

			&-item {
				margin: 0;
				width: 34%;

				&:first-of-type {
					margin-bottom: 20px;
				}
			}
		}

		&-image {
			position: relative;
			display: flex;
			align-items: center;
			width: 60%;

			img {
				position: relative;
				height: auto;
				width: 100%;
				right: -100px;
			}
		}

		&-divider {
			top: calc(0.06vw - 165px);
		}
	}

	.benefits {
		&-items {
			&-list {
				padding: 70px 0;

				&::before {
					height: 300px;
					width: 95%;
					min-width: 1050px;
				}

				&-item {
					padding: 0 calc(50/100vw) !important;
				}
			}
		}
	}

	.options {
		&-list {
			padding-left: 12%;
		}
	}
}

@media screen and (max-width: 992px) {
	section {
		padding: 50px 0;
	}

	.header {
		* {
			box-sizing: border-box !important;
		}
	}

	.intro {
		padding-top: 200px;
		margin-bottom: 50px !important;
		.container {
			flex-direction: column;

			>* {
				width: 100%;
			}
		}

		&-list {
			&-item {
				width: 25%;
			}
		}

		&-image {
			position: static;
			padding-top: 30px;
			height: 300px;
			justify-content: center;

			img {
				height: 100%;
				width: auto;
				left: 0px;
			}
		}
		&-divider {
			position: absolute;
			width: 200%;
			left: -50%;
			top: 335px;
			transform: rotate(30deg);
		}
	}

	.benefits {
		&-items {
			&-list {
				padding: 0 !important;
				justify-content: space-between;
				align-items: stretch;
				flex-wrap: wrap;

				&::before {
					height: 770px;
					width: 110%;
					min-width: auto;
				}

				&-item {
					width: 50%;
					padding: 40px 0;

					img {
						width: 70% !important;
					}
				}
			}
		}
	}

	.options {
		&-list {
			padding-left: 8%;
			column-gap: 100px;
			overflow: hidden;
			break-inside: avoid-column;
			page-break-inside: avoid;

			&-item {
				display: inline-block;
			}
		}
	}

	.try {
		&-box {
			padding: 40px 60px;
		}
	}
}

@media screen and (max-width: 768px) {

	.intro {
		&-divider {
			width: 300%;
			top: 500px;
			left: -90%;
			transform: rotate(45deg);
		}
	}
	.benefits {
		&-items {
			&-list {
				&::before {
					height: 680px !important;
				}

				&-item {
					img {
						width: 75% !important;
					}
				}
			}
		}

		&-buttons {
			flex-direction: column;

			&-button {
				margin: 0;
				margin-bottom: 20px;

				:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	.options {
		&-list {
			padding-left: 0;
			columns: 1;

			&-item {
				width: 100%;
			}
		}

		&-buttons {
			flex-direction: column;

			&-button {
				margin: 0;
				margin-bottom: 20px;

				:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	.try {
		padding-bottom: 350px;

		&-box {
			flex-direction: column;

			&-img {
				width: 50%;
				position: static;
				top: 0;
				margin: 50px 0 -80%;
			}

		}
	}
}

@media screen and (max-width: 576px) {
	.button {
		text-align: center;
		width: 80%;
		padding: 20px;
	}

	.intro {
		padding-top: 150px;
		&-list {
			flex-wrap: wrap;
			justify-content: center;
			align-items: stretch;

			&-item {
				margin: 0;
				width: 50%;

				&:first-of-type {
					margin-bottom: 20px;
				}
			}
		}
		&-divider {
			width: 400%;
			top: 600px;
			left: -188%;
			transform: rotate(30deg);
		}
	}

	.benefits {
		&-items {
			&-list {
				position: relative;
				justify-content: center;

				&::before {
					margin-left: -30px;
					border-radius: 0 400px 400px 400px;
					height: 100% !important;
				}

				&-item {
					width: 100%;
				}
			}
		}
	}

	.easybox {
		width: 100%;
		padding: 30px 0;

		h2,
		p {
			padding: 0 30px;
		}
	}

	.options {
		&-list {
			&-item {
				font-size: 18px;
			}
		}
	}

	.try {
		padding-bottom: 300px;

		&-map {
			height: 300px;
		}

		&-box {
			padding: 40px 20px;

			&-text {
				&-heading {
					font-size: 28px;
				}

				&-para {
					font-size: 22px;
				}

				&-button {
					width: 100%;
					padding: 20px 0;
				}
			}

			&-img {
				object-fit: contain;
				width: 70%;
				max-height: 400px;
			}
		}
	}
}

@media screen and (max-width: 400px) {

	.header {
		&-title {
			&-logo {
				&-img {
					height: 24px;
				}
				&-name {
					font-size: 20px;
				}
			}
		}
	}
	.try {
		padding-bottom: 200px;
	}

}