@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
$gray-extradark: #252525;
$gray-dark: #707070;
$gray-medium: #919191;
$gray-light: #F3F3F3;
$red-dark: #830A0F;
$red-medium: #C30010;
$red-light: #E10819;
$font-family: "Rubik",
sans-serif;
$transition: all 0.3s ease-in-out;

@mixin scaleIn {
	transition: $transition;

	&:hover {
		transform: scale(1.1);
	}
}

:root {
	font-family: $font-family;
	letter-spacing: 1px;
}

html,
body,
main {
	position: relative;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

section {
	padding: 100px 0;
}

.container {
	width: 1320px;
	margin-right: auto;
	margin-left: auto;
	padding: 0 !important;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 50px;
	padding: 28px 0;
	width: 404px;
	overflow: none;
	border-radius: 100px;
	transition: $transition;
	text-decoration: none;
	font: normal small-caps 400 18px $font-family;
	
	&:hover {
		cursor: pointer;
	}
}

@media screen and (max-width: 1400px) {
	.container {
		width: 1150px;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
}

.header {
	top: 0;
	position: fixed;
	width: 100%;
	background-color: white;
	height: 150px;
	box-shadow: 0 15px 15px #0000000a;
	z-index: 10;
	transition: $transition;

	&__container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&>* {
			width: 50%;
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		width: 55%;

		&-logo {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			text-decoration: none;

			&-img {
				height: 30px;
				width: auto;

			}

			&-name {
				display: block;
				margin-left: 5px;
				font: normal small-caps 500 24px $font-family;
				color: $red-dark;

			}
		}

		&-description {
			font: normal normal 300 18px $font-family;
			display: block;
			transition: $transition;

			b {
				font-weight: 500;
			}
		}
	}

	&__navbar {
		display: flex;
		justify-content: right;
		align-items: center;

		&--small {
			display: none;
		}

		&-burger {
			display: none;
		}

		&-item {
			color: $gray-medium;
			font: normal normal 500 16px "Rubik", sans-serif;
			margin-left: 40px;
			text-decoration: none;
			transition: $transition;

			&:hover {
				color: black;
			}

			&--outlined {
				color: white;
				background-color: $red-medium;
				padding: 15px 40px;
				border-radius: 400px;

				&:hover {
					color: white;
					background-color: $red-light;
				}
			}
		}
	}
}

.intro {
	padding-top: 250px;
	padding-bottom: 0 !important;

	.container {
		display: flex;
		justify-content: space-between;
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: stretch;
		width: 50%;

		&-heading {
			font: normal small-caps 400 24px "Rubik", sans-serif;
			text-align: center;
			line-height: 60px;
			margin-bottom: 60px;

		}

		&-button {
			background-color: white;
			color: $red-medium;
			border: 1px solid $red-medium;
		}
	}

	&__image {
		position: relative;
		z-index: 2;
		width: 50%;
		top: -50px;

		img {
			height: auto;
			max-width: 100%;
		}
	}

	&__list {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
		list-style: none;
		width: 100%;

		&-item {
			display: block;
			margin: 0 auto;
			text-align: center;

			&-text {
				font: normal normal 800 16px "Rubik", sans-serif;
			}

			&-img {
				height: 78px;
				width: auto;
				margin-top: 22px;
			}
		}
	}

	&__divider {
		z-index: -1;
		position: relative;
		top: calc(-6vw - 151px);
		width: 100%;

		img {
			width: 100%;
		}
	}
}

@keyframes scrollingClients {
	0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-50%, 0);
	}
}

.clients {
	padding: 0;
	background-color: $gray-light;
	position: relative;
	overflow-x: hidden;
	display: flex;
	align-items: center;
	height: 150px;

	&__carousel {
		position: absolute;
		left: 0;
		overflow-x: hidden;
		white-space: nowrap;
		animation: scrollingClients 20s linear infinite;
	}

	&:hover .clients__carousel {
		animation-play-state: paused;
	}

	&__store {
		padding: 0 4vw;
		height: 80px !important;
	}
}

@keyframes benefitsItemIn {
	0% {
		top: 0;
	}

	100% {
		top: -15px;
	}
}

@keyframes benefitsItemOut {
	0% {
		top: -15px;
	}

	100% {
		top: 0;
	}
}

.benefits {
	text-align: center;

	&__text {
		margin-bottom: 50px;

		h2 {
			font-weight: 400;
			margin-bottom: 20px;
		}
	}

	&__items {

		&-heading {
			font-weight: 700 !important;
			color: $red-medium !important;
		}

		&-list {
			padding: 50px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&::before {
				content: "";
				position: absolute;
				padding: 50px;
				left: 0;
				z-index: -1;
				height: 350px;
				width: 90%;
				background-color: $gray-light;
				border-radius: 0 400px 400px 0;
			}

			&-item {
				position: relative;
				transition: $transition;
				padding: 0 20px;

				&:first-of-type {
					padding-left: 0 !important;
				}

				&:last-of-type {
					padding-right: 0 !important;
				}

				&:hover {
					animation: benefitsItemIn 0.3s;
					animation-fill-mode: forwards;
				}

				&:not(:hover) {
					animation: benefitsItemOut 0.3s;
					animation-fill-mode: forwards;
				}

				figure {
					margin: 0;

					img {
						width: 100%;
						height: auto;
						max-height: 320px;
						max-width: 320px;
					}

					figcaption {
						margin-top: 25px;
						font-size: 25px;

						span {
							font-weight: 500;
						}
					}
				}
			}

		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;

		&-button {
			margin: 0 30px;
			transition: $transition;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}

			&--full {
				color: white;
				background: $red-medium;
			}

			&--outlined {
				color: $red-medium;
				background: white;
				border: 1px solid $red-medium;
			}
		}
	}
}

.easybox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	padding: 50px 0;
	box-shadow: 0 15px 15px #0000000a;
	line-height: 30px;

	h2 {
		font-weight: 400;
	}
}

.options {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__header {
		text-align: center;
		color: $red-medium;
	}

	&__list {
		width: 90%;
		padding-left: 15%;
		columns: 2;

		&-item {
			display: flex;
			align-items: center;
			font: normal normal 400 22px $font-family;
			color: $gray-dark;
			padding-bottom: 20px;
			list-style-type: none;

			&::before {
				content: "\25ef";
				font-size: 12px;
				font-weight: 900;
				color: $red-medium;
				padding-right: 2ch;
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;

		&-button {
			margin: 0 30px;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {
				margin-right: 0;
			}

			&--full {
				color: white;
				background: $red-medium;
			}

			&--outlined {
				color: $red-medium;
				background: white;
				border: 1px solid $red-medium;
			}
		}
	}
}

.try {
	padding-top: 0 !important;
	padding-bottom: 150px;

	&__map {
		position: relative;
		z-index: 1;
		opacity: 0.5;

		img {
			width: 100%;
			height: 300px;
			object-fit: cover;
		}
	}

	&__box {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: linear-gradient(103deg, $red-medium, $red-light);
		margin-top: -200px;
		z-index: 2;
		padding: 60px 80px;
		border-radius: 40px;

		&-text {
			text-align: center;
			color: white;

			&-heading {
				margin: 0;
				font: normal normal 400 35px $font-family;
			}

			&-para {
				font: normal normal 500 26px $font-family;
			}

			&-button {
				background-color: white;
				color: $red-medium;
				margin: 0 auto;
			}
		}

		&-img {
			position: relative;
			top: 20px;
			margin: -200px 0;
			z-index: 3;
		}
	}
}

.footer {
	background-color: $gray-extradark;
	color: white;
	margin-top: 150px;
	padding: 25px 0px 70px;

	&__img {
		position: relative;
		top: -196px;
		margin-bottom: -155px;

		&-building {
			left: 15vw;
		}

		&-scooter {
			left: 20vw;
		}
	}

	.row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&__column {
			width: 20%;
		}
	}

	a {
		display: block;
		width: max-content;
		color: white;
		text-decoration: none;
		font: normal normal 300 16px $font-family;
	}

	address {
		font: normal normal 300 16px $font-family !important;
	}

	.row {
		&__column {
			&-address {
				a {
					width: max-content;
				}
				img {
					width: 200px;
				}

				.socials {
					margin-top: 20px;
					display: flex;

					&__link {
						font-size: 20px;
						display: flex;
						align-items: center;
						justify-content: center;
						vertical-align: middle;
						margin-right: 20px;
						border: 2px solid white;
						border-radius: 50px;
						transition: $transition;

						i {
							padding: 6px 4px;
							margin-bottom: 0px;
						}

						&:hover {
							background-color: white;
							color: $gray-extradark;
						}
					}
				}
			}

			&-restia {
				a {
					text-decoration: underline;
				}
			}

			&-contact {
				.tel:first-of-type {
					margin-bottom: 20px;
				}
			}

			&-heading {
				display: block;
				font: normal normal 500 21px $font-family;
				color: $red-medium;
				padding-bottom: 10px !important;
			}

			* {
				margin-bottom: 5px;
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.header {
		&__navbar {
			&-item {
				margin-left: 25px;
			}
		}

		&__title {
			&-logo {
				&-img {
					height: 26px;
				}

				&-name {
					font-size: 20px;
				}
			}

			&-description {
				font-size: 16px;
			}
		}
	}

	.intro {
		&__divider {
			top: calc(-6vw - 90px);
		}
	}

	.benefits {
		&__items {
			&-list {
				&::before {
					height: 300px;
					padding: 50px 4%;
				}

				&-item {
					padding: 0 calc(80/100vw) !important;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.header {
		&__title {
			width: max-content;

			&-logo {
				&-img {
					height: 30px;
				}

				&-name {
					font-size: 24px;
				}
			}

			&-description {
				display: none;
			}
		}

		&__navbar {
			width: 70%;

			&-item {
				margin-left: 50px;
			}
		}
	}

	.intro {
		overflow-x: hidden;

		&__list {
			flex-wrap: wrap;
			justify-content: center;
			align-items: stretch;

			&-item {
				margin: 0;
				width: 34%;

				&:first-of-type {
					margin-bottom: 20px;
				}
			}
		}

		&__image {
			position: relative;
			display: flex;
			align-items: center;
			width: 60%;

			img {
				position: relative;
				height: auto;
				width: 100%;
				right: -100px;
			}
		}

		&__divider {
			top: calc(0.06vw - 165px);
		}
	}

	.benefits {
		&__items {
			&-list {
				padding: 70px 0;

				&::before {
					height: 250px !important;
					width: 100%;
					padding: 50px 0 !important;
				}

				&-item {
					padding: 0 calc(50/100vw) !important;
				}
			}
		}
	}

	.options {
		&__list {
			padding-left: 12%;
		}
	}
}

@media screen and (max-width: 992px) {

	.header {
		&__navbar {
			&--large {
				display: none;
			}

			&--small {
				box-shadow: 0 15px 15px #0000000a;
				display: block;
				height: 100vh;
				max-width: 50vw;
				background-color: white;
				z-index: 20;
				position: fixed;
				top: 0;
				right: 0;
				transition: $transition;

				&-items {
					display: flex;
					flex-direction: column;
				}

				&-item {
					margin-left: 0;
					padding: 30px;
					font-size: 24px;

					&-close-button {
						border: none;
						background-color: transparent;
						font-size: 40px !important;
						align-self: flex-end;
						margin-bottom: 0;

						&:hover {
							cursor: pointer;
							color: $red-medium;
						}
					}

					&--outlined {
						margin: 0 20px;
						text-align: center;
					}
				}

			}

			&-burger {
				width: 50px;
				padding: 10px;
				background-color: transparent;
				border: none;
				display: flex;
				flex-direction: column;

				&:hover {
					cursor: pointer;
				}

				span {
					display: block;
					width: 100%;
					height: 4px;
					background-color: $gray-medium;
					border-radius: 20px;

					&:nth-child(1) {
						margin-bottom: 10px;
					}

					&:nth-child(3) {
						margin-top: 10px;
					}

				}
			}
		}
	}


	section {
		padding: 50px 0;
	}

	.intro {
		padding-top: 200px;
		margin-bottom: 50px !important;
		.container {
			flex-direction: column;

			>* {
				width: 100%;
			}
		}

		&__list {
			&-item {
				width: 25%;
			}
		}

		&__image {
			position: static;
			padding-top: 30px;
			height: 300px;
			justify-content: center;

			img {
				height: 100%;
				width: auto;
				left: 0px;
			}
		}
		&__divider {
			position: absolute;
			width: 200%;
			left: -50%;
			top: 335px;
			transform: rotate(30deg);
		}
	}

	.benefits {
		&__items {
			&-list {
				padding: 0 !important;
				justify-content: space-between;
				align-items: stretch;
				flex-wrap: wrap;

				&::before {
					height: 780px !important;
					width: 110%;
					padding: 0 !important;
				}

				&-item {
					width: 50%;
					padding: 40px 0;

					img {
						width: 70% !important;
					}
				}
			}
		}
	}

	.options {
		&__list {
			padding-left: 8%;
			column-gap: 100px;
			overflow: hidden;
			break-inside: avoid-column;
			page-break-inside: avoid;

			&-item {
				display: inline-block;
			}
		}
	}

	.try {
		&__box {
			padding: 40px 60px;
		}
	}

	.footer {
		.row {
			justify-content: center;
			align-items: stretch;
			flex-wrap: wrap;

			&__column {
				width: 50%;

				&:first-of-type {
					margin-bottom: 30px;
				}

				&-address {
					img {
						width: 150px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {

	.intro {
		&__divider {
			width: 300%;
			top: 500px;
			left: -90%;
			transform: rotate(45deg);
		}
	}
	.benefits {
		&__items {
			&-list {
				&::before {
					height: 680px !important;
				}

				&-item {
					img {
						width: 75% !important;
					}
				}
			}
		}

		&__buttons {
			flex-direction: column;

			&-button {
				margin: 0;
				margin-bottom: 20px;

				:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	.options {
		&__list {
			padding-left: 0;
			columns: 1;

			&-item {
				width: 100%;
			}
		}

		&__buttons {
			flex-direction: column;

			&-button {
				margin: 0;
				margin-bottom: 20px;

				:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}

	.try {
		padding-bottom: 350px;

		&__box {
			flex-direction: column;

			&-img {
				width: 50%;
				position: static;
				top: 0;
				margin: 50px 0 -80%;
			}

		}
	}
}

@media screen and (max-width: 576px) {

	.button {
		text-align: center;
		width: 80%;
		padding: 20px;
	}

	.header {
		height: 100px;
		&__navbar {

			&-burger {
				span {
					height: 3px;

					&:first-child {
						margin-bottom: 8px;
					}

					&:last-child {
						margin-top: 8px;
					}
				}
			}
			&--small {
				max-width: 70%;
				&-item {
					font-size: 18px;
					&--outlined {
						padding: 20px;
					}
				}
			}
		}
	}

	.intro {
		padding-top: 150px;
		&__list {
			flex-wrap: wrap;
			justify-content: center;
			align-items: stretch;

			&-item {
				margin: 0;
				width: 50%;

				&:first-of-type {
					margin-bottom: 20px;
				}
			}
		}
		&__divider {
			width: 400%;
			top: 600px;
			left: -188%;
			transform: rotate(30deg);
		}
	}

	.benefits {
		&__items {
			&-list {
				position: relative;
				justify-content: center;

				&::before {
					margin-left: -30px;
					border-radius: 0 400px 400px 400px;
					height: 100% !important;
				}

				&-item {
					width: 100%;
				}
			}
		}
	}

	.easybox {
		width: 100%;
		padding: 30px 0;

		h2,
		p {
			padding: 0 30px;
		}
	}

	.options {
		&__list {
			&-item {
				font-size: 18px;
			}
		}
	}

	.try {
		padding-bottom: 300px;

		&__box {
			padding: 40px 20px;

			&-text {
				&-heading {
					font-size: 28px;
				}

				&-para {
					font-size: 22px;
				}

				&-button {
					width: 100%;
					padding: 20px 0;
				}
			}

			&-img {
				object-fit: contain;
				width: 70%;
				max-height: 400px;
			}
		}
	}

	.footer {
		&__img {
			top: -195px;

			&-building {
				height: 130px;
			}

			&-scooter {
				height: 70px;
			}
		}

		.row {
			flex-direction: column;

			&__column {
				width: 100%;
				flex-direction: column;
				margin-bottom: 20px;

				&-address {

					.socials {
						margin-top: 0;

						&__link {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {

	.header {
		&__title {
			&-logo {
				&-img {
					height: 24px;
				}
				&-name {
					font-size: 20px;
				}
			}
		}
	}
	.try {
		padding-bottom: 200px;
	}

}