:root {
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}

html,
body,
main {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

section {
  padding: 100px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding: 28px 0;
  width: 404px;
  overflow: none;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font: normal small-caps 400 18px "Rubik", sans-serif;
}
.button-text {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.button-arrow {
  position: relative;
  width: 0;
  font-size: 1.4rem;
  top: -1px;
  left: 14px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(10px);
}
.button--full {
  background-color: #C30010 !important;
  color: white !important;
  border: none !important;
}
.button--outlined {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid #C30010;
}
.button--outlined.enabled {
  background-color: #C30010;
  color: white !important;
}
.button--outlined.disabled {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid #C30010;
}
.button--outlined.disabled:hover {
  cursor: not-allowed;
}
.button--inverted {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid transparent;
}
.button--inverted:hover {
  border: 1px solid #C30010;
}
.button:hover {
  cursor: pointer;
}
.button:hover > .button-text {
  transform: translateX(-15px);
}
.button:hover > .button-arrow {
  opacity: 1;
  transform: translateX(-5px);
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .button {
    width: 100% !important;
    padding: 15px !important;
  }
  .button:hover > .button-text {
    transform: none;
  }
  .button:hover > .button-arrow {
    opacity: 0;
    transform: none;
  }
}
.footer {
  background-color: #252525;
  color: white;
  margin-top: 150px;
  padding: 25px 0px 70px;
}
.footer-img {
  position: relative;
  top: -196px;
  margin-bottom: -155px;
}
.footer-img-building {
  left: 15vw;
}
.footer-img-scooter {
  left: 20vw;
}
.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .row-column {
  width: 20%;
}
.footer a {
  display: block;
  width: max-content;
  color: white;
  text-decoration: none;
  font: normal normal 300 16px "Rubik", sans-serif;
}
.footer address {
  font: normal normal 300 16px "Rubik", sans-serif !important;
}
.footer .row-column-address a {
  width: max-content;
}
.footer .row-column-address img {
  width: 200px;
}
.footer .row-column-address .socials {
  margin-top: 20px;
  display: flex;
}
.footer .row-column-address .socials-link {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-right: 20px;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.footer .row-column-address .socials-link i {
  padding: 6px 4px;
  margin-bottom: 0px;
  box-sizing: content-box !important;
}
.footer .row-column-address .socials-link:hover {
  background-color: white;
  color: #252525;
}
.footer .row-column-restia a {
  text-decoration: underline;
}
.footer .row-column-contact .tel:first-of-type {
  margin-bottom: 20px;
}
.footer .row-column-heading {
  display: block;
  font: normal normal 500 21px "Rubik", sans-serif;
  color: #C30010;
  padding-bottom: 10px !important;
}
.footer .row-column * {
  margin-bottom: 5px;
}

@media screen and (max-width: 992px) {
  .footer .row {
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .footer .row-column {
    width: 50%;
  }
  .footer .row-column:first-of-type {
    margin-bottom: 30px;
  }
  .footer .row-column-address img {
    width: 150px;
  }
}
@media screen and (max-width: 576px) {
  .footer-img {
    top: -195px;
  }
  .footer-img-building {
    height: 130px;
  }
  .footer-img-scooter {
    height: 70px;
  }
  .footer .row {
    flex-direction: column;
  }
  .footer .row-column {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer .row-column-address .socials {
    margin-top: 0;
  }
  .footer .row-column-address .socials-link {
    margin-right: 5px;
  }
}

/*# sourceMappingURL=footer.css.map */
