@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import "./root.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./modal.scss";

h2 {
	font: normal small-caps 400 40px $font-family;
}

.header {
	top: 0;
	position: fixed;
	width: 100%;
	background-color: white;
	height: 150px;
	z-index: 10;
	transition: $transition;

	&-container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&>* {
			width: 50%;
		}
	}

	&-title {
		display: flex;
		align-items: center;
		height: 100%;
		width: 40%;

		&-logo {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			text-decoration: none;

			&-img {
				height: 40px;
				width: auto;

			}

			&-name {
				display: block;
				margin-left: 5px;
				font: normal small-caps 500 24px $font-family;
				color: $red-dark;
			}
		}

		&-navbar {
			z-index: 20;
			display: flex;
			align-items: center;

			&-item {
				position: relative;
				top: 1px;
				font: normal small-caps 400 18px $font-family;
				color: $gray-dark;
				text-decoration: none;
				font-weight: 500;
				margin-left: 40px;
				transition: $transition;

				&:hover {
					color: $red-dark;

					&::after {
						opacity: 1;
						left: 0;
					}
				}

				&::after {
					position: relative;
					content: "";
					display: block;
					width: 100%;
					height: 2px;
					top: 15px;
					left: -100px;
					background-color: $red-dark;
					opacity: 0;
					transition: $transition;
				}
			}
		}
	}

	&-navbar {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		&--small {
			display: none;
		}

		&-burger {
			display: none;
		}

		&-item {
			color: $gray-medium;
			font: normal normal 500 18px "Rubik", sans-serif;
			margin-left: 40px;
			text-decoration: none;
			transition: $transition;

			&:hover {
				color: black;
			}

			&--outlined {
				color: white;
				background-color: $red-medium;
				padding: 15px 30px;
				border-radius: 400px;

				&:hover {
					color: white;
					background-color: $red-light;
				}
			}
		}
	}
}

.intro {
	padding-top: 150px;
	padding-bottom: 0 !important;

	.container {
		display: flex;
		justify-content: space-between;
	}

	&-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: stretch;
		width: 50%;

		&-heading {
			font: normal normal 500 60px "Rubik", sans-serif;
			text-align: left;
			line-height: 80px;
			margin-bottom: 60px;

		}

		&-para {
			width: 100%;
			text-align: left;
			margin: 0;

			&:first-of-type {
				margin-bottom: 10px;
			}
		}

		&-buttons {
			margin-top: 50px;
			display: flex;
			justify-content: space-between;
			width: max-content;

			&-button {
				width: auto !important;
				padding-left: 40px;
				padding-right: 40px;
				margin-top: 0;
				margin-left: 50px;
				&:first-of-type {
					margin-left: 0;
				}
			}
		}
	}

	&-images {
		display: block;
		position: relative;
		width: 33%;
		animation: cw 9s linear infinite;
		left: 0px;

		&::after {
			content: "";
			display: none;
			position: relative;
			border-radius: 500px;
			transform: rotate(-45deg);
			width: 50vw;
			height: 30vw;
			top: -200px;
			background-color: $gray-light;
		}
	}

	&-image {
		position: absolute;
		animation: ccw 9s linear infinite;
		z-index: 1;
		margin: 0 auto;

		&--dispecink {
			height: 400px;
			z-index: 5;
		}

		&--pikolik {
			height: 350px;
			width: 250px;
			top: 10%;
			z-index: 8;

			img {
				position: relative;
				top: 50px;
				left: 20px;
				transform: scale(1.1);
			}
		}

		&--agregator {
			height: 300px;
			bottom: 0;
			left: auto;
			right: 0;
			z-index: 1;
		}

		img {
			height: 100%;
			width: auto;
			transition: ease-in-out 3s;
		}
	}
}

@keyframes cw {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

@keyframes ccw {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.products {
	position: relative;

	.container {
		position: relative;
	}

	&::before {
		content: "";
		display: inline-block;
		position: absolute;
		left: -50px;
		height: 700px;
		z-index: -1;
		background-color: $gray-extralight;
		width: 100%;
		border-radius: 0 500px 500px 500px;
	}

	&-text {
		margin: 50px 0;
		line-height: 30px;
		font-weight: 500;
	}

	&-arrow {
		position: absolute;
		width: 150px;
		object-fit: cover;
		left: 0;
		top: 145px;
	}

	&-items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&-item {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			width: 48%;
			padding: 60px 80px;
			margin-bottom: 20px;
			background-color: white;
			border-radius: 50px;
			box-shadow: 0px 15px 15px #0000000A;

			&:hover {
				.products-items-item-img {
					img {
						filter: none;
					}
				}

				a {
					color: $red-medium;
				}
			}

			&-text {
				width: 80%;

				&-heading {
					margin-top: 0;
					font: normal normal 600 30px $font-family;

					&--red {
						color: $red-medium;
					}
				}

				&-description {
					font-size: 18px;

					color: $gray-semidark;
					width: 80%;
				}
			}

			&-img {
				width: 20%;
				position: relative;

				img {
					position: absolute;
					right: 0;
					height: 70px;
					width: auto;
					filter: grayscale(1) opacity(0.3);
					transition: $transition;
				}

				&::before {
					content: "";
					display: block;
					position: absolute;
					top: -20px;
					right: -20px;
					height: 80px;
					width: 80px;
					border-radius: 100px;
					background-color: $gray-light;
				}
			}

			a {
				width: 100%;
				border: none;
				margin-top: 20px;
				background-color: transparent;
				color: $red-extralight;
				font: normal small-caps 600 20px $font-family;
				text-align: right;
				text-decoration: none;
				transition: $transition;
			}

			&--dispecink {
				img {
					height: 90px;
					top: 40%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

main>section.container {
	padding: 0 !important;
}

.faqbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	padding: 50px;
	box-shadow: 0 15px 15px #0000000a;
	line-height: 30px;

	p {
		font: normal normal 400 20px $font-family;
		margin-bottom: 0;
	}

	.button {
		margin-top: 30px;
	}
}

.reasons {
	&-header {
		text-align: center;
	}

	&-list {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		margin-top: 30px;

		&-item {
			width: 23%;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			align-content: stretch;
			padding: 40px 30px;
			text-align: center;
			box-shadow: 0px 15px 15px #0000000a;

			* {
				display: block;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&-heading {
				color: $red-medium;
				font-size: 26px;
			}

			&-text {
				color: $gray-semidark;
			}
		}
	}
}

.reviews {
	position: relative;
	right: 0;
	padding: 200px 0;
	height: auto;
	background-image: url("../assets/home/carousel.jpg");
	background-repeat: no-repeat;
	background-size: 115%;
	background-position: right 60%;
	border-radius: 500px;
	border-top-right-radius: 0;
	right: -5vw;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-box {
		position: relative;
		height: 200px;
		width: 50%;
		border-radius: 5px;
		right: 5vw;

		.carousel-inner {
			height: 100%;
			width: 100%;
		}

		&-indicators {
			align-items: center;

			&-indicator {
				height: 8px !important;
				width: 8px !important;
				border-radius: 10px !important;
				background-color: transparent !important;
				border: 2px solid white !important;

				&.active {
					height: 12px !important;
					width: 12px !important;
					border: none !important;
					background-color: white !important;
				}
			}
		}

		&-review {
			width: 100%;
			height: 100%;

			blockquote {
				display: flex;
				height: 100%;
				width: 100%;
				justify-content: center;
				align-items: center;
				color: white;
				font: normal normal 500 24px $font-family;
				padding: 30px;

				q {
					text-align: center;

					&::before {
						content: "„";
					}

					&::after {
						content: "“";
					}
				}
			}
		}
	}
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.reviews {
		&-box {
			background-color: #444444aa;
			-webkit-backdrop-filter: blur(20px);
			backdrop-filter: blur(20px);
		}
	}
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.reviews {
		&-box {
			background-color: #222222aa;

			&::before {
				content: "";
				width: 100%;
				height: 100%;
				filter: blur(10px);
			}
		}
	}
}

.questions {
	&-item {
		transition: $transition;
		margin-bottom: 30px;

		&:last-of-type {
			margin-bottom: 0;
		}

		&-question {
			display: flex;
			align-items: center;
			border: none;
			background-color: transparent;
			font: normal normal 400 20px $font-family;
			padding: 0;
			transition: $transition;
			margin-bottom: 15px;

			&:hover {
				cursor: pointer;
			}

			&::before {
				content: "+";
				margin-right: 20px;
				font: normal normal 500 40px $font-family;
				transition: $transition;
			}
		}

		&-answer {
			transition: $transition;
			display: block;
			overflow: hidden;
			max-height: 0;
			margin: 0;
		}

		&.is-open {
			.questions-item-question {
				&::before {
					transform: rotate(135deg);
				}
			}
		}

		&.is-closed {
			.questions-item-question {
				color: $gray-dark;

				&:hover {
					color: $gray-extradark;
				}

				&::before {
					transform: rotate(0deg);
				}
			}
		}
	}
}

.footer {
	margin-top: 0;
}

@media screen and (max-width: 1650px) {
	.products {
		&-arrow {
			left: calc(17vw - 333px);
		}
	}
}

@media screen and (max-width: 1400px) {
	.header {
		&-navbar {
			&-item {
				margin-left: 25px;
			}
		}

		&-title {
			&-logo {
				&-img {
					height: 32px;
				}

				&-name {
					font-size: 20px;
				}
			}

			&-description {
				font-size: 16px;
			}
		}
	}

	.intro {
		&-info {
			&-buttons {
				flex-direction: column;

				&-button {
					margin-left: 0;

					&:first-of-type {
						margin-bottom: 20px;
					}
				}
			}
		}

		&-images {
			width: 50%;
		}

		&-image {
			&--dispecink {
				top: 10%;
			}

			&--pikolik {
				top: 30%;
			}

			&--agregator {
				top: 50%;
			}
		}
	}

	.products {
		&-arrow {
			display: none;
		}

		&-items {
			&-item {
				padding: 60px 40px;
			}
		}
	}

	.reviews {
		&-box {
			width: 70%;

			&-indicators {
				&-indicator {
					height: 10px !important;
					width: 10px !important;

					&.active {
						height: 14px !important;
						width: 14px !important;
					}
				}
			}
		}
	}

}

@media screen and (max-width: 1200px) {
	.header {
		&-container {
			&>* {
				width: auto !important;
			}
		}

		&-title {
			width: max-content;

			&-logo {
				&-img {
					height: 30px;
				}

				&-name {
					font-size: 24px;
				}
			}

			&-navbar {
				&-item {
					margin-left: 20px;
				}
			}
		}

		&-navbar {
			width: 70% !important;
			&-burger {
				width: 60px !important;
			}

			&-item {
				margin-left: 30px;
			}
		}
	}

	.intro {
		.container {
			flex-wrap: wrap;
		}

		&-info {
			width: 100%;

			&-heading {
				font-size: 72px;
				text-align: center;
			}

			&-para {
				font-size: 20px;
				text-align: center;
			}
		}

		&-images {
			display: block;
			position: relative;
			animation: none;
			width: 100%;
			height: 550px;
			left: 5%;
		}

		&-image {
			display: block;
			position: absolute;
			animation: none;
			top: 40px;
			left: 0;

			&--dispecink {
				left: 15%;
				z-index: 1;
				height: 500px;
			}

			&--pikolik {
				top: 150px;
				left: 8%;
				right: auto;
				z-index: 5;
				height: 400px;

				img {
					transform: none;
				}
			}

			&--agregator {
				right: 23%;
				left: auto;
				top: 275px;
				z-index: 8;
				height: 350px;
			}
		}
	}

	.products {
		&::before {
			height: 600px;
		}

		&-items {
			&-item {
				padding: 40px;

				&-text {
					&-heading {
						font-size: 26px;
					}
				}

				&-img {
					width: 15%;
				}
			}
		}
	}

	.reasons {
		&-list {
			flex-wrap: wrap;

			&-item {
				width: 45%;
				margin-bottom: 30px;

				&-heading {
					margin-top: 0;
				}
			}
		}
	}

	.reviews {
		padding: 150px 0;
	}
}

@media screen and (max-width: 992px) {

	.header {
		&-title {
			&-logo {
				&-img {
					height: 40px;
				}
			}

			&-navbar {
				display: none;
			}
		}

		&-navbar {
			&--large {
				display: none;
			}

			&--small {
				box-shadow: 0 15px 15px #0000000a;
				display: block;
				height: 100vh;
				max-width: 50vw;
				background-color: white;
				z-index: 20;
				position: fixed;
				top: 0;
				right: 0;
				transition: $transition;

				&-items {
					display: flex;
					flex-direction: column;
				}

				&-item {
					margin-left: 0;
					padding: 30px;
					font-size: 24px;

					&-close-button {
						border: none;
						background-color: transparent;
						font-size: 40px !important;
						align-self: flex-end;
						margin-bottom: 0;

						&:hover {
							color: $red-dark;
							cursor: pointer;
						}
					}

					&--product {
						color: $gray-extradark;
						transition: $transition;

						&:hover {
							color: $red-dark;
						}
					}

					&--link.button {
						width: 50%;
						margin: 0 auto;
					}
				}

				&.is-opened {
					transform: translateX(0%);
				}

				&.is-closed {
					transform: translateX(100%);
				}
			}
		}
	}


	section {
		padding: 50px 0;
	}

	.intro {
		padding-top: 100px;
		margin-bottom: 50px !important;

		&-images {
			height: 700px;
			left: 2%;
		}

		&-image {
			&--dispecink {
				left: 10%;
			}

			&--pikolik {
				height: 450px;
				top: 30%;
				left: -5%;
			}

			&--agregator {
				height: 350px;
				top: 57%;
				right: 8%;
			}
		}
	}

	.products {
		&::before {
			width: 120%;
			height: 90%;
			border-radius: 0 2000px 2000px 2000px;
		}

		&-items {
			flex-direction: column;

			&-item {
				width: 100%;
			}
		}
	}

	.reasons {
		&-list {
			&-item {
				width: 100%;

				&-heading {
					font-size: 30px;
				}
			}
		}
	}

	.reviews {
		padding: 100px 0;

		&-box {
			width: 80%;
		}
	}
}

@media screen and (max-width: 768px) {

	.header {
		&-navbar {
			&-item {
				&.button {
					width: 80% !important;
				}
			}
		}
	}

	.intro {
		&-info {
			&-heading {
				font-size: 60px;
			}
		}

		&-images {
			height: 450px;
			left: 5%;
		}

		&-image {
			&--dispecink {
				height: 350px;
			}

			&--pikolik {
				height: 300px;
			}

			&--agregator {
				height: 250px;
				top: 60%;
				right: 10%;
			}
		}
	}

	.products {
		&-text {
			width: 70%;
		}
	}

	.reviews {
		width: 110%;
		right: 5vw;

		&-box {
			width: 100%;
			right: 0;
		}
	}

}

@media screen and (max-width: 576px) {

	:root {
		word-wrap: break-word;
	}

	.button {
		text-align: center;
		width: 100% !important;
		padding: 15px;
		word-wrap: break-word;
	}

	.header {
		height: 100px !important;

		&-navbar {
			&--small {
				max-width: 60%;

				&-item {
					font-size: 20px;
				}
			}

			&-burger {
				width: 52px !important;
			}
		}
	}

	.intro {
		padding-top: 100px;

		&-info {
			&-heading {
				font-size: 40px;
				line-height: 50px;
			}

			&-buttons {
				width: 100%;

				&-button {
					width: 100%;
					margin: 0 auto;
				}
			}
		}

		&-images {
			left: 0 !important;
		}

		&-image {

			&--dispecink {
				left: 0;

			}

			&--pikolik {
				top: 15%;
				right: 50%;
				left: auto;

			}

			&--agregator {
				top: 50%;
				left: 20%;
				right: auto;
			}
		}
	}

	.products {
		&-items {
			&-item {
				overflow: hidden;
				position: relative;

				&-text {
					width: 100%;
					text-align: center;

					&-description {
						width: 100%;
						text-align: center;
					}
				}

				&-img {
					position: absolute;
					top: -10%;
					right: -20%;
					height: auto;
					width: auto;

					img {
						height: 200px;
						filter: grayscale(1) opacity(0.05);
						transform: none;
					}

					&::before {
						display: none;
					}
				}

				a {
					text-align: center;
				}

				&--pikolik {
					.products-items-item-img {
						right: -45%;
					}
				}

				&--dispecink {
					.products-items-item-img {
						top: 0;
						right: 20%;
					}
				}

				&:hover {
					.products-items-item-img {
						img {
							filter: grayscale(1) opacity(0.05);
						}
					}

					a {
						color: $red-extralight;
					}
				}
			}
		}
	}

	.faqbox {
		width: 100%;
		padding: 30px 0;

		h2,
		p {
			padding: 0 30px;
		}
	}

	.reviews {
		padding: 50px 0;
		width: 100%;
		right: 0;
		border-radius: 0;
		background-size: cover;

		&-box {
			height: 250px;
		}
	}

	.questions {
		&-item {
			&-question {
				width: 100%;
				justify-content: center;
			}
		}
	}
}

@media screen and (max-width: 400px) {

	.header {
		&-title {
			&-logo {

				&-name {
					font-size: 20px;
				}
			}
		}

		&-navbar {
			&-item {
				padding: 20px;
			}
		}
	}

	.intro {
		&-info {
			&-heading {
				font-size: 30px;
			}
		}
	}

	.reviews {
		&-box {
			height: 300px;
		}
	}

}