@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
:root {
  font-family: "Rubik", sans-serif !important;
  color: #252525;
  letter-spacing: 1px;
}

html,
body,
main {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

section {
  padding: 100px 0;
}

h2 {
  font: normal small-caps 400 40px "Rubik", sans-serif;
}

p {
  text-align: justify;
}

.container {
  width: 1320px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 !important;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding: 28px;
  overflow: none;
  border-radius: 100px;
  text-decoration: none;
  font: normal small-caps 400 18px "Rubik", sans-serif;
  transition: all 0.3s ease-in-out;
}
.button--full {
  background-color: #C30010 !important;
  color: white !important;
  border: none !important;
}
.button--full:hover {
  background-color: #E10819 !important;
}
.button--outlined {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid #C30010;
}
.button--outlined:hover {
  background-color: #C30010;
  color: white !important;
}
.button--outlined.enabled {
  background-color: #C30010;
  color: white !important;
}
.button--outlined.enabled:hover {
  background-color: #E10819;
}
.button--outlined.disabled {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid #C30010;
}
.button--outlined.disabled:hover {
  background-color: inherit;
  color: inherit;
  cursor: not-allowed;
}
.button:hover {
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .container {
    width: 1150px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }
}
.header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 150px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.header__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container > * {
  width: 50%;
}
.header__title {
  display: flex;
  align-items: center;
  height: 100%;
  width: 55%;
}
.header__title-logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-decoration: none;
}
.header__title-logo-img {
  height: 40px;
  width: auto;
}
.header__title-logo-name {
  display: block;
  margin-left: 5px;
  font: normal small-caps 500 24px "Rubik", sans-serif;
  color: #830A0F;
}
.header__title-navbar {
  z-index: 20;
  display: flex;
  align-items: center;
}
.header__title-navbar-item {
  position: relative;
  top: 1px;
  font: normal small-caps 400 18px "Rubik", sans-serif;
  color: #4E4E4E;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
  transition: all 0.3s ease-in-out;
}
.header__title-navbar-item:hover {
  color: #830A0F;
}
.header__title-navbar-item:hover::after {
  opacity: 1;
  left: 0;
}
.header__title-navbar-item::after {
  position: relative;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  top: 15px;
  left: -100px;
  background-color: #830A0F;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.header__navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__navbar--small {
  display: none;
}
.header__navbar-burger {
  display: none;
}
.header__navbar-item {
  color: #919191;
  font: normal normal 500 18px "Rubik", sans-serif;
  margin-left: 40px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.header__navbar-item:hover {
  color: black;
}
.header__navbar-item--outlined {
  color: white;
  background-color: #C30010;
  padding: 15px 30px;
  border-radius: 400px;
}
.header__navbar-item--outlined:hover {
  color: white;
  background-color: #E10819;
}

.intro {
  padding-top: 150px;
  padding-bottom: 0 !important;
}
.intro .container {
  display: flex;
  justify-content: space-between;
}
.intro__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 50%;
}
.intro__info-heading {
  font: normal normal 500 60px "Rubik", sans-serif;
  text-align: left;
  line-height: 80px;
  margin-bottom: 60px;
}
.intro__info-para {
  width: 100%;
  text-align: left;
  margin: 0;
}
.intro__info-para:first-of-type {
  margin-bottom: 10px;
}
.intro__info-buttons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: max-content;
}
.intro__info-buttons-button {
  margin-top: 0;
  margin-left: 50px;
}
.intro__images {
  display: block;
  position: relative;
  width: 40%;
  animation: cw 9s linear infinite;
  left: 0px;
}
.intro__images::after {
  content: "";
  display: none;
  position: relative;
  border-radius: 500px;
  transform: rotate(-45deg);
  width: 50vw;
  height: 30vw;
  top: -200px;
  background-color: #F3F3F3;
}
.intro__image {
  position: absolute;
  animation: ccw 9s linear infinite;
  z-index: 1;
  margin: 0 auto;
}
.intro__image--dispecink {
  height: 400px;
  z-index: 5;
}
.intro__image--pikolik {
  height: 350px;
  width: 250px;
  top: 10%;
  z-index: 8;
}
.intro__image--pikolik img {
  position: relative;
  top: 50px;
  left: 20px;
  transform: scale(1.1);
}
.intro__image--agregator {
  height: 300px;
  bottom: 0;
  left: auto;
  right: 0;
  z-index: 1;
}
.intro__image img {
  height: 100%;
  width: auto;
  transition: ease-in-out 3s;
}

@keyframes cw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes ccw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.products {
  position: relative;
}
.products .container {
  position: relative;
}
.products::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -50px;
  height: 700px;
  z-index: -1;
  background-color: #F8F8F8;
  width: 100%;
  border-radius: 0 500px 500px 500px;
}
.products__text {
  margin: 50px 0;
  line-height: 30px;
  font-weight: 500;
}
.products__arrow {
  position: absolute;
  width: 150px;
  object-fit: cover;
  left: 0;
  top: 145px;
}
.products__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__items-item {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 48%;
  padding: 60px 80px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 15px 15px #0000000A;
}
.products__items-item:hover .products__items-item-img img {
  filter: none;
}
.products__items-item:hover a {
  color: #C30010;
}
.products__items-item-text {
  width: 80%;
}
.products__items-item-text-heading {
  margin-top: 0;
  font: normal normal 600 30px "Rubik", sans-serif;
}
.products__items-item-text-heading--red {
  color: #C30010;
}
.products__items-item-text-description {
  font-size: 18px;
  color: #707070;
  width: 80%;
}
.products__items-item-img {
  width: 20%;
  position: relative;
}
.products__items-item-img img {
  position: absolute;
  right: 0;
  height: 70px;
  width: auto;
  filter: grayscale(1) opacity(0.3);
  transition: all 0.3s ease-in-out;
}
.products__items-item-img::before {
  content: "";
  display: block;
  position: absolute;
  top: -20px;
  right: -20px;
  height: 80px;
  width: 80px;
  border-radius: 100px;
  background-color: #F3F3F3;
}
.products__items-item a {
  width: 100%;
  border: none;
  margin-top: 20px;
  background-color: transparent;
  color: #DC4040;
  font: normal small-caps 600 20px "Rubik", sans-serif;
  text-align: right;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.products__items-item--dispecink img {
  height: 90px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main > section.container {
  padding: 0 !important;
}

.faqbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 50px;
  box-shadow: 0 15px 15px #0000000a;
  line-height: 30px;
}
.faqbox p {
  font: normal normal 400 20px "Rubik", sans-serif;
  margin-bottom: 0;
}
.faqbox .button {
  margin-top: 30px;
}

.reasons__header {
  text-align: center;
}
.reasons__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-top: 30px;
}
.reasons__list-item {
  width: 23%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0px 15px 15px #0000000a;
}
.reasons__list-item * {
  display: block;
}
.reasons__list-item:first-child {
  margin-left: 0;
}
.reasons__list-item:last-child {
  margin-right: 0;
}
.reasons__list-item-heading {
  color: #C30010;
  font-size: 26px;
}
.reasons__list-item-text {
  color: #707070;
}

.reviews {
  position: relative;
  right: 0;
  padding: 200px 0;
  height: auto;
  background-image: url("../assets/home/pexels-norma-mortenson-4391470.jpg");
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: right 60%;
  border-radius: 500px;
  border-top-right-radius: 0;
  right: -5vw;
}
.reviews .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews__box {
  position: relative;
  height: 200px;
  width: 50%;
  border-radius: 5px;
  right: 5vw;
}
.reviews__box .carousel-inner {
  height: 100%;
  width: 100%;
}
.reviews__box-indicators {
  align-items: center;
}
.reviews__box-indicators-indicator {
  height: 8px !important;
  width: 8px !important;
  border-radius: 10px !important;
  background-color: transparent !important;
  border: 2px solid white !important;
}
.reviews__box-indicators-indicator.active {
  height: 12px !important;
  width: 12px !important;
  border: none !important;
  background-color: white !important;
}
.reviews__box-review {
  width: 100%;
  height: 100%;
}
.reviews__box-review blockquote {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  font: normal normal 500 24px "Rubik", sans-serif;
  padding: 30px;
}
.reviews__box-review blockquote q {
  text-align: center;
}
.reviews__box-review blockquote q::before {
  content: "„";
}
.reviews__box-review blockquote q::after {
  content: "“";
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .reviews__box {
    background-color: #444444aa;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}
/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .reviews__box {
    background-color: #222222aa;
  }
  .reviews__box::before {
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(10px);
  }
}
.questions__item {
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
}
.questions__item-question {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font: normal normal 400 20px "Rubik", sans-serif;
  padding: 0;
  transition: all 0.3s ease-in-out;
  margin-bottom: 15px;
}
.questions__item-question:hover {
  cursor: pointer;
}
.questions__item-question::after {
  content: "+";
  margin-left: 20px;
  margin-top: -5px;
  font: normal normal 500 40px "Rubik", sans-serif;
  transition: all 0.3s ease-in-out;
}
.questions__item-answer {
  transition: all 0.3s ease-in-out;
  display: block;
  overflow: hidden;
  max-height: 0;
  margin: 0;
}
.questions__item.is-open .questions__item-question::after {
  transform: rotate(45deg);
}
.questions__item.is-closed .questions__item-question {
  color: #4E4E4E;
}
.questions__item.is-closed .questions__item-question:hover {
  color: #252525;
}
.questions__item.is-closed .questions__item-question::after {
  transform: rotate(0deg);
}

.footer {
  background-color: #252525;
  color: white;
  padding: 50px 0px 70px;
}
.footer__img {
  position: relative;
  top: -191px;
  margin-bottom: -155px;
}
.footer__img-building {
  left: 15vw;
}
.footer__img-scooter {
  left: 20vw;
}
.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .row__column {
  width: 20%;
}
.footer a {
  display: block;
  width: max-content;
  color: white;
  text-decoration: none;
  font: normal normal 300 16px "Rubik", sans-serif;
}
.footer address {
  font: normal normal 300 16px "Rubik", sans-serif !important;
}
.footer .row__column-address a {
  width: max-content;
}
.footer .row__column-address img {
  width: 200px;
  height: auto;
}
.footer .row__column-address .socials {
  margin-top: 20px;
  display: flex;
}
.footer .row__column-address .socials__link {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-right: 20px;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.footer .row__column-address .socials__link i {
  box-sizing: content-box;
  padding: 6px 4px;
  margin-bottom: 0px;
}
.footer .row__column-address .socials__link:hover {
  background-color: white;
  color: #252525;
}
.footer .row__column-restia a {
  text-decoration: underline;
}
.footer .row__column-contact .tel:first-of-type {
  margin-bottom: 20px;
}
.footer .row__column-heading {
  display: block;
  font: normal normal 500 21px "Rubik", sans-serif;
  color: #C30010;
  padding-bottom: 10px !important;
}
.footer .row__column * {
  margin-bottom: 5px;
}

.demo {
  padding-right: 0 !important;
  overflow: auto;
}
.demo__dialog {
  max-width: 40vw;
}
.demo__content {
  position: relative;
  padding: 30px 50px;
  border-radius: 20px;
  border: 2px solid #919191;
  box-shadow: 0px 8px 10px #00000029;
}
.demo__content * {
  text-align: center;
}
.demo__close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: #707070;
  transition: all 0.3s ease-in-out;
}
.demo__close-button:hover {
  cursor: pointer;
  color: #C30010;
}
.demo__heading {
  background-image: linear-gradient(#ffffff88, white), url("../assets/home/demo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100% + 60px);
  margin: -30px;
  margin-bottom: 0px;
  padding: 50px 30px;
  font: normal normal 600 30px "Rubik", sans-serif;
  color: #4E4E4E;
  border-radius: 20px 20px 0 0;
}
.demo__heading .is-red {
  color: #C30010;
}
.demo p {
  font-weight: 500;
}
.demo .button--full {
  width: max-content;
  margin: 20px auto;
}
.demo small {
  font: normal italic 300 16px "Rubik", sans-serif;
  color: #919191;
}
.demo__form {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.demo__form-email {
  width: 70%;
  padding: 16px;
  border: 1px solid #CACACA;
  border-radius: 50px;
  text-align: left;
  font: normal normal 300 16px "Rubik", sans-serif;
  color: #4E4E4E;
  transition: all 0.3s ease-in-out;
}
.demo__form-email::placeholder {
  text-align: left;
  color: #919191;
}
.demo__form-email:focus {
  border: 1px solid #C30010;
  outline: none;
}
.demo__form-submit {
  width: 25%;
  margin-top: 0;
  padding: 16px;
}

.modal-open {
  padding-right: 0 !important;
}

@media screen and (max-width: 1650px) {
  .products__arrow {
    left: calc(17vw - 333px);
  }
}
@media screen and (max-width: 1400px) {
  .header__navbar-item {
    margin-left: 25px;
  }
  .header__title-logo-img {
    height: 32px;
  }
  .header__title-logo-name {
    font-size: 20px;
  }
  .header__title-description {
    font-size: 16px;
  }

  .intro__info-buttons {
    flex-direction: column;
  }
  .intro__info-buttons-button {
    margin-left: 0;
  }
  .intro__info-buttons-button:first-of-type {
    margin-bottom: 20px;
  }
  .intro__images {
    width: 50%;
  }
  .intro__image--dispecink {
    top: 10%;
  }
  .intro__image--pikolik {
    top: 30%;
  }
  .intro__image--agregator {
    top: 50%;
  }

  .products__arrow {
    display: none;
  }
  .products__items-item {
    padding: 60px 40px;
  }

  .reviews__box {
    width: 70%;
  }
  .reviews__box-indicators-indicator {
    height: 10px !important;
    width: 10px !important;
  }
  .reviews__box-indicators-indicator.active {
    height: 14px !important;
    width: 14px !important;
  }

  .demo__dialog {
    max-width: 60vw;
  }
}
@media screen and (max-width: 1200px) {
  .header__container > * {
    width: auto !important;
  }
  .header__title {
    width: max-content;
  }
  .header__title-logo-img {
    height: 30px;
  }
  .header__title-logo-name {
    font-size: 24px;
  }
  .header__title-navbar-item {
    margin-left: 20px;
  }
  .header__navbar {
    width: 70% !important;
  }
  .header__navbar-item {
    margin-left: 30px;
  }

  .intro .container {
    flex-wrap: wrap;
  }
  .intro__info {
    width: 100%;
  }
  .intro__info-heading {
    font-size: 72px;
    text-align: center;
  }
  .intro__info-para {
    font-size: 20px;
    text-align: center;
  }
  .intro__images {
    display: block;
    position: relative;
    animation: none;
    width: 100%;
    height: 550px;
    left: 5%;
  }
  .intro__image {
    display: block;
    position: absolute;
    animation: none;
    top: 40px;
    left: 0;
  }
  .intro__image--dispecink {
    left: 15%;
    z-index: 1;
    height: 500px;
  }
  .intro__image--pikolik {
    top: 150px;
    left: 8%;
    right: auto;
    z-index: 5;
    height: 400px;
  }
  .intro__image--pikolik img {
    transform: none;
  }
  .intro__image--agregator {
    right: 23%;
    left: auto;
    top: 275px;
    z-index: 8;
    height: 350px;
  }

  .products::before {
    height: 600px;
  }
  .products__items-item {
    padding: 40px;
  }
  .products__items-item-text-heading {
    font-size: 26px;
  }
  .products__items-item-img {
    width: 15%;
  }

  .reasons__list {
    flex-wrap: wrap;
  }
  .reasons__list-item {
    width: 45%;
    margin-bottom: 30px;
  }
  .reasons__list-item-heading {
    margin-top: 0;
  }

  .reviews {
    padding: 150px 0;
  }

  .demo__dialog {
    max-width: 70vw;
  }
}
@media screen and (max-width: 992px) {
  .header__title-logo-img {
    height: 40px;
  }
  .header__title-navbar {
    display: none;
  }
  .header__navbar--large {
    display: none;
  }
  .header__navbar--small {
    box-shadow: 0 15px 15px #0000000a;
    display: block;
    height: 100vh;
    max-width: 50vw;
    background-color: white;
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
  }
  .header__navbar--small-items {
    display: flex;
    flex-direction: column;
  }
  .header__navbar--small-item {
    margin-left: 0;
    padding: 30px;
    font-size: 24px;
  }
  .header__navbar--small-item-close-button {
    border: none;
    background-color: transparent;
    font-size: 40px !important;
    align-self: flex-end;
    margin-bottom: 0;
  }
  .header__navbar--small-item-close-button:hover {
    color: #830A0F;
    cursor: pointer;
  }
  .header__navbar--small-item--product {
    color: #252525;
    transition: all 0.3s ease-in-out;
  }
  .header__navbar--small-item--product:hover {
    color: #830A0F;
  }
  .header__navbar--small-item--link.button {
    width: 50%;
    margin: 0 auto;
  }
  .header__navbar-burger {
    width: 50px !important;
    padding: 10px;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
  }
  .header__navbar-burger:hover {
    cursor: pointer;
  }
  .header__navbar-burger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #919191;
    border-radius: 20px;
  }
  .header__navbar-burger span:nth-child(1) {
    margin-bottom: 10px;
  }
  .header__navbar-burger span:nth-child(3) {
    margin-top: 10px;
  }

  section {
    padding: 50px 0;
  }

  .intro {
    padding-top: 100px;
    margin-bottom: 50px !important;
  }
  .intro__images {
    height: 700px;
    left: 2%;
  }
  .intro__image--dispecink {
    left: 10%;
  }
  .intro__image--pikolik {
    height: 450px;
    top: 30%;
    left: -5%;
  }
  .intro__image--agregator {
    height: 350px;
    top: 57%;
    right: 8%;
  }

  .products::before {
    width: 120%;
    height: 90%;
    border-radius: 0 2000px 2000px 2000px;
  }
  .products__items {
    flex-direction: column;
  }
  .products__items-item {
    width: 100%;
  }

  .reasons__list-item {
    width: 100%;
  }
  .reasons__list-item-heading {
    font-size: 30px;
  }

  .reviews {
    padding: 100px 0;
  }
  .reviews__box {
    width: 80%;
  }

  .footer .row {
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .footer .row__column {
    width: 50%;
  }
  .footer .row__column:first-of-type {
    margin-bottom: 30px;
  }
  .footer .row__column-address img {
    width: 150px;
  }

  .demo__form {
    display: flex;
    flex-direction: column;
  }
  .demo__form > * {
    margin: 0 auto;
  }
  .demo__form-email {
    width: 80%;
  }
  .demo__form-submit {
    width: 50%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header__navbar-item.button {
    width: 80%;
  }

  .intro__info-heading {
    font-size: 60px;
  }
  .intro__images {
    height: 450px;
    left: 5%;
  }
  .intro__image--dispecink {
    height: 350px;
  }
  .intro__image--pikolik {
    height: 300px;
  }
  .intro__image--agregator {
    height: 250px;
    top: 60%;
    right: 10%;
  }

  .products__text {
    width: 70%;
  }

  .reviews {
    width: 110%;
    right: 5vw;
  }
  .reviews__box {
    width: 100%;
    right: 0;
  }
}
@media screen and (max-width: 576px) {
  :root {
    word-wrap: break-word;
  }

  .button {
    text-align: center;
    width: auto;
    padding: 15px;
    flex-wrap: wrap;
    word-wrap: break-word;
  }

  .header {
    height: 80px !important;
  }
  .header__navbar--small {
    max-width: 60%;
  }
  .header__navbar--small-item {
    font-size: 20px;
  }
  .header__navbar-burger span {
    height: 3px;
  }
  .header__navbar-burger span:first-child {
    margin-bottom: 8px;
  }
  .header__navbar-burger span:last-child {
    margin-top: 8px;
  }

  .intro {
    padding-top: 100px;
  }
  .intro__info-heading {
    font-size: 40px;
    line-height: 50px;
  }
  .intro__info-buttons {
    width: auto;
  }
  .intro__info-buttons-button {
    width: 100%;
    margin: 0 auto;
  }
  .intro__images {
    left: 0 !important;
  }
  .intro__image--dispecink {
    left: 0;
  }
  .intro__image--pikolik {
    top: 15%;
    right: 50%;
    left: auto;
  }
  .intro__image--agregator {
    top: 50%;
    left: 20%;
    right: auto;
  }

  .products__items-item {
    overflow: hidden;
    position: relative;
  }
  .products__items-item-text {
    width: 100%;
    text-align: center;
  }
  .products__items-item-text-description {
    width: 100%;
    text-align: center;
  }
  .products__items-item-img {
    position: absolute;
    top: -10%;
    right: -20%;
    height: auto;
    width: auto;
  }
  .products__items-item-img img {
    height: 200px;
    filter: grayscale(1) opacity(0.05);
    transform: none;
  }
  .products__items-item-img::before {
    display: none;
  }
  .products__items-item a {
    text-align: center;
  }
  .products__items-item--pikolik .products__items-item-img {
    right: -45%;
  }
  .products__items-item--dispecink .products__items-item-img {
    top: 0;
    right: 20%;
  }
  .products__items-item:hover .products__items-item-img img {
    filter: grayscale(1) opacity(0.05);
  }
  .products__items-item:hover a {
    color: #DC4040;
  }

  .faqbox {
    width: 100%;
    padding: 30px 0;
  }
  .faqbox h2,
.faqbox p {
    padding: 0 30px;
  }

  .reviews {
    padding: 50px 0;
    width: 100%;
    right: 0;
    border-radius: 0;
    background-size: cover;
  }
  .reviews__box {
    height: 250px;
  }

  .questions__item-question {
    width: 100%;
    justify-content: center;
  }

  .footer__img {
    top: -190px;
  }
  .footer__img-building {
    height: 130px;
  }
  .footer__img-scooter {
    height: 70px;
  }
  .footer .row {
    flex-direction: column;
  }
  .footer .row__column {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer .row__column-address {
    display: flex;
  }
  .footer .row__column-address .socials {
    margin-top: 0;
  }
  .footer .row__column-address .socials__link {
    margin-right: 5px;
  }

  .demo__dialog {
    max-width: 100%;
  }
  .demo__content {
    padding: 20px;
  }
  .demo__heading {
    position: relative;
    padding: 70px 0 20px;
    width: calc(100% + 40px);
    top: -20px;
    left: -20px;
    margin: 0;
  }
  .demo .button--full {
    width: auto;
  }
  .demo__form * {
    width: 100%;
  }
  .demo__close-button {
    z-index: 2000;
  }
}
@media screen and (max-width: 400px) {
  .header__title-logo-img {
    height: 24px;
  }
  .header__title-logo-name {
    font-size: 20px;
  }
  .header__navbar-item {
    padding: 20px;
  }

  .intro__info-heading {
    font-size: 30px;
  }

  .reviews__box {
    height: 300px;
  }
}

/*# sourceMappingURL=home.css.map */
