@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
$gray-extradark: #252525;
$gray-dark: #4E4E4E;
$gray-semidark: #707070;
$gray-medium: #919191;
$gray-semilight: #CACACA;
$gray-light: #F3F3F3;
$gray-extralight: #F8F8F8;
$red-dark: #830A0F;
$red-medium: #C30010;
$red-light: #E10819;
$red-extralight: #DC4040;
$font-family: "Rubik",
sans-serif;
$transition: all 0.3s ease-in-out;

@mixin scaleIn {
	transition: $transition;

	&:hover {
		transform: scale(1.1);
	}
}

:root {
	font-family: $font-family !important;
	color: $gray-extradark;
	letter-spacing: 1px;
}

html,
body,
main {
	position: relative;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

section {
	padding: 100px 0;
}

h2 {
	font: normal small-caps 400 40px $font-family;
}

p {
	text-align: justify;
}

.container {
	width: 1300px;
	margin-right: auto;
	margin-left: auto;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	padding: 28px;
	overflow: none;
	border-radius: 100px;
	text-decoration: none;
	font: normal small-caps 400 18px $font-family;
	transition: $transition;

	&--full {
		background-color: $red-medium !important;
		color: white !important;
		border: none !important;

		&:hover {
			background-color: $red-light !important;
		}
	}

	&--outlined {
		background-color: white;
		color: $red-medium !important;
		border: 1px solid $red-medium;

		&:hover {
			background-color: $red-medium;
			color: white !important;
		}

		&.enabled {
			background-color: $red-medium;
			color: white !important;

			&:hover {
				background-color: $red-light;
			}
		}

		&.disabled {
			background-color: white;
			color: $red-medium !important;
			border: 1px solid $red-medium;

			&:hover {
				background-color: inherit;
				color: inherit;
				cursor: not-allowed;
			}
		}
	}

	&:hover {
		cursor: pointer;
	}
}

@media screen and (max-width: 1400px) {
	.container {
		width: 1150px;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
}

.header {
	top: 0;
	position: fixed;
	width: 100%;
	background-color: white;
	height: 150px;
	z-index: 10;
	transition: $transition;

	&__container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&>* {
			width: 50%;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		height: 100%;
		width: 55%;

		&-logo {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			&-img {
				height: 40px;
				width: auto;

			}

			&-name {
				display: block;
				margin-left: 5px;
				font: normal small-caps 500 24px $font-family;
				color: $red-dark;
			}
		}

		&-navbar {
			z-index: 20;
			display: flex;
			align-items: center;

			&-item {
				position: relative;
				top: 1px;
				font: normal small-caps 400 18px $font-family;
				color: $gray-dark;
				text-decoration: none;
				font-weight: 500;
				margin-left: 40px;
				transition: $transition;

				&:hover {
					color: $red-dark;

					&::after {
						opacity: 1;
						left: 0;
					}
				}

				&::after {
					position: relative;
					content: "";
					display: block;
					width: 100%;
					height: 2px;
					top: 15px;
					left: -100px;
					background-color: $red-dark;
					opacity: 0;
					transition: $transition;
				}
			}
		}
	}

	&__navbar {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		&--small {
			display: none;
		}

		&-burger {
			display: none;
		}

		&-item {
			color: $gray-medium;
			font: normal normal 500 18px "Rubik", sans-serif;
			margin-left: 40px;
			text-decoration: none;
			transition: $transition;

			&:hover {
				color: black;
			}

			&--outlined {
				color: white;
				background-color: $red-medium;
				padding: 15px 30px;
				border-radius: 400px;

				&:hover {
					color: white;
					background-color: $red-light;
				}
			}
		}
	}
}

.intro {
	padding-top: 150px;
	padding-bottom: 0 !important;

	.container {
		display: flex;
		justify-content: space-between;
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: stretch;
		width: 50%;

		&-heading {
			font: normal normal 500 60px "Rubik", sans-serif;
			text-align: left;
			line-height: 80px;
			margin-bottom: 60px;

		}

		&-para {
			width: 100%;
			text-align: left;
			margin: 0;

			&:first-of-type {
				margin-bottom: 10px;
			}
		}

		&-buttons {
			margin-top: 50px;
			display: flex;
			justify-content: space-between;
			width: max-content;

			&-button {
				margin-top: 0;
				margin-left: 50px;
			}
		}
	}

	&__images {
		display: block;
		position: relative;
		width: 40%;
		animation: cw 9s linear infinite;
		left: 0px;

		&::after {
			content: "";
			display: none;
			position: relative;
			border-radius: 500px;
			transform: rotate(-45deg);
			width: 50vw;
			height: 30vw;
			top: -200px;
			background-color: $gray-light;
		}
	}

	&__image {
		position: absolute;
		animation: ccw 9s linear infinite;
		z-index: 1;
		margin: 0 auto;

		&--dispecink {
			height: 400px;
			z-index: 5;
		}

		&--pikolik {
			height: 350px;
			width: 250px;
			top: 10%;
			z-index: 8;

			img {
				position: relative;
				top: 50px;
				left: 20px;
				transform: scale(1.1);
			}
		}

		&--agregator {
			height: 300px;
			bottom: 0;
			left: auto;
			right: 0;
			z-index: 1;
		}

		img {
			height: 100%;
			width: auto;
			transition: ease-in-out 3s;
		}
	}
}

@keyframes cw {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

@keyframes ccw {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.products {
	position: relative;

	.container {
		position: relative;
	}

	&::before {
		content: "";
		display: inline-block;
		position: absolute;
		left: -50px;
		height: 700px;
		z-index: -1;
		background-color: $gray-extralight;
		width: 100%;
		border-radius: 0 500px 500px 500px;
	}

	&__text {
		margin: 50px 0;
		line-height: 30px;
		font-weight: 500;
	}

	&__arrow {
		position: absolute;
		width: 150px;
		object-fit: cover;
		left: 0;
		top: 145px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&-item {
			display: flex;
			flex-wrap: wrap;
			box-sizing: border-box;
			width: 48%;
			padding: 60px 80px;
			margin-bottom: 20px;
			background-color: white;
			border-radius: 50px;
			box-shadow: 0px 15px 15px #0000000A;

			&:hover {
				.products__items-item-img {
					img {
						filter: none;
					}
				}

				a {
					color: $red-medium;
				}
			}

			&-text {
				width: 80%;

				&-heading {
					margin-top: 0;
					font: normal normal 600 30px $font-family;

					&--red {
						color: $red-medium;
					}
				}

				&-description {
					font-size: 18px;

					color: $gray-semidark;
					width: 80%;
				}
			}

			&-img {
				width: 20%;
				position: relative;

				img {
					position: absolute;
					right: 0;
					height: 70px;
					width: auto;
					filter: grayscale(1) opacity(0.3);
					transition: $transition;
				}

				&::before {
					content: "";
					display: block;
					position: absolute;
					top: -20px;
					right: -20px;
					height: 80px;
					width: 80px;
					border-radius: 100px;
					background-color: $gray-light;
				}
			}

			a {
				width: 100%;
				border: none;
				margin-top: 20px;
				background-color: transparent;
				color: $red-extralight;
				font: normal small-caps 600 20px $font-family;
				text-align: right;
				text-decoration: none;
				transition: $transition;
			}

			&--dispecink {
				img {
					height: 90px;
					top: 40%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

main>section.container {
	padding: 0 !important;
}

.faqbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	padding: 50px;
	box-shadow: 0 15px 15px #0000000a;
	line-height: 30px;

	p {
		font: normal normal 400 20px $font-family;
		margin-bottom: 0;
	}

	.button {
		margin-top: 30px;
	}
}

.reasons {
	&__header {
		text-align: center;
	}

	&__list {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		margin-top: 30px;

		&-item {
			width: 23%;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			align-content: stretch;
			padding: 40px 30px;
			text-align: center;
			box-shadow: 0px 15px 15px #0000000a;

			* {
				display: block;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&-heading {
				color: $red-medium;
				font-size: 26px;
			}

			&-text {
				color: $gray-semidark;
			}
		}
	}
}

.reviews {
	position: relative;
	right: 0;
	padding: 200px 0;
	height: auto;
	background-image: url("../assets/home/pexels-norma-mortenson-4391470.jpg");
	background-repeat: no-repeat;
	background-size: 115%;
	background-position: right 60%;
	border-radius: 500px;
	border-top-right-radius: 0;
	right: -5vw;

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__box {
		position: relative;
		height: 200px;
		width: 50%;
		border-radius: 5px;
		right: 5vw;

		.carousel-inner {
			height: 100%;
			width: 100%;
		}

		&-indicators {
			align-items: center;

			&-indicator {
				height: 8px !important;
				width: 8px !important;
				border-radius: 10px !important;
				background-color: transparent !important;
				border: 2px solid white !important;

				&.active {
					height: 12px !important;
					width: 12px !important;
					border: none !important;
					background-color: white !important;
				}
			}
		}

		&-review {
			width: 100%;
			height: 100%;

			blockquote {
				display: flex;
				height: 100%;
				width: 100%;
				justify-content: center;
				align-items: center;
				color: white;
				font: normal normal 500 24px $font-family;
				padding: 30px;

				q {
					text-align: center;

					&::before {
						content: "„";
					}

					&::after {
						content: "“";
					}
				}
			}
		}
	}
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.reviews {
		&__box {
			background-color: #444444aa;
			-webkit-backdrop-filter: blur(20px);
			backdrop-filter: blur(20px);
		}
	}
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
	.reviews {
		&__box {
			background-color: #222222aa;

			&::before {
				content: "";
				width: 100%;
				height: 100%;
				filter: blur(10px);
			}
		}
	}
}

.questions {
	&__item {
		transition: $transition;
		margin-bottom: 30px;

		&-question {
			display: flex;
			align-items: center;
			border: none;
			background-color: transparent;
			font: normal normal 400 20px $font-family;
			padding: 0;
			transition: $transition;
			margin-bottom: 15px;

			&:hover {
				cursor: pointer;
			}

			&::after {
				content: "+";
				margin-left: 20px;
				margin-top: -5px;
				font: normal normal 500 40px $font-family;
				transition: $transition;
			}
		}

		&-answer {
			transition: $transition;
			display: block;
			overflow: hidden;
			max-height: 0;
			margin: 0;
		}

		&.is-open {
			.questions__item-question {
				&::after {
					transform: rotate(45deg);
				}
			}
		}

		&.is-closed {
			.questions__item-question {
				color: $gray-dark;

				&:hover {
					color: $gray-extradark;
				}

				&::after {
					transform: rotate(0deg);
				}
			}
		}
	}
}

.footer {
	background-color: $gray-extradark;
	color: white;
	padding: 20px 0px 70px;

	&__img {
		position: relative;
		top: -191px;
		margin-bottom: -155px;

		&-building {
			left: 15vw;
		}

		&-scooter {
			left: 20vw;
		}
	}

	.row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&__column {
			width: 20%;
		}
	}

	a {
		display: block;
		color: white;
		text-decoration: none;
		font: normal normal 300 16px $font-family;
	}

	address {
		font: normal normal 300 16px $font-family !important;
	}

	.row {
		&__column {
			&-address {
				img {
					width: 200px;
					height: auto;
				}

				.socials {
					margin-top: 20px;
					display: flex;

					&__link {
						font-size: 20px;
						display: flex;
						align-items: center;
						justify-content: center;
						vertical-align: middle;
						margin-right: 20px;
						border: 2px solid white;
						border-radius: 50px;
						transition: $transition;

						i {
							box-sizing: content-box;
							padding: 6px 4px;
							margin-bottom: 0px;
						}

						&:hover {
							background-color: white;
							color: $gray-extradark;
						}
					}
				}
			}

			&-restia {
				a {
					text-decoration: underline;
				}
			}

			&-contact {
				.tel:first-of-type {
					margin-bottom: 20px;
				}
			}

			&-heading {
				display: block;
				font: normal normal 500 21px $font-family;
				color: $red-medium;
				padding-bottom: 10px !important;
			}

			* {
				margin-bottom: 5px;
			}
		}
	}
}

.demo {
	padding-right: 0 !important;
	overflow: auto;

	&__dialog {
		max-width: 40vw;
	}

	&__content {
		position: relative;
		padding: 30px 50px;
		border-radius: 20px;
		border: 2px solid $gray-medium;
		box-shadow: 0px 8px 10px #00000029;

		* {
			text-align: center;
		}
	}

	&__close-button {
		position: absolute;
		top: 15px;
		right: 20px;
		background-color: transparent;
		border: none;
		font-size: 40px;
		color: $gray-semidark;
		transition: $transition;

		&:hover {
			cursor: pointer;
			color: $red-medium;
		}

	}

	&__heading {
		background-image: linear-gradient(#ffffff88, white), url("../assets/home/demo.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: calc(100% + 60px);
		margin: -30px;
		margin-bottom: 0px;
		padding: 50px 30px;
		font: normal normal 600 30px $font-family;
		color: $gray-dark;
		border-radius: 20px 20px 0 0;

		.is-red {
			color: $red-medium;
		}
	}

	p {
		font-weight: 500;
	}

	.button--full {
		width: max-content;
		margin: 20px auto;
	}

	small {
		font: normal italic 300 16px $font-family;
		color: $gray-medium;
	}

	&__form {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;

		&-email {
			width: 70%;
			padding: 16px;
			border: 1px solid $gray-semilight;
			border-radius: 50px;
			text-align: left;
			font: normal normal 300 16px $font-family;
			color: $gray-dark;
			transition: $transition;

			&::placeholder {
				text-align: left;
				color: $gray-medium;
			}

			&:focus {
				border: 1px solid $red-medium;
				outline: none;
			}
		}

		&-submit {
			width: 25%;
			margin-top: 0;
			padding: 16px;
		}
	}
}

.modal-open {
	padding-right: 0 !important;
}

@media screen and (max-width: 1650px) {
	.products {
		&__arrow {
			left: calc(17vw - 333px);
		}
	}
}

@media screen and (max-width: 1400px) {
	.header {
		&__navbar {
			&-item {
				margin-left: 25px;
			}
		}

		&__title {
			&-logo {
				&-img {
					height: 32px;
				}

				&-name {
					font-size: 20px;
				}
			}

			&-description {
				font-size: 16px;
			}
		}
	}

	.intro {
		&__info {
			&-buttons {
				flex-direction: column;

				&-button {
					margin-left: 0;

					&:first-of-type {
						margin-bottom: 20px;
					}
				}
			}
		}

		&__images {
			width: 50%;
		}

		&__image {
			&--dispecink {
				top: 10%;
			}

			&--pikolik {
				top: 30%;
			}

			&--agregator {
				top: 50%;
			}
		}
	}

	.products {
		&__arrow {
			display: none;
		}

		&__items {
			&-item {
				padding: 60px 40px;
			}
		}
	}

	.reviews {
		&__box {
			width: 70%;

			&-indicators {
				&-indicator {
					height: 10px !important;
					width: 10px !important;

					&.active {
						height: 14px !important;
						width: 14px !important;
					}
				}
			}
		}
	}

	.demo {
		&__dialog {
			max-width: 60vw;
		}
	}

}

@media screen and (max-width: 1200px) {
	.header {
		&__container {
			&>* {
				width: auto !important;
			}
		}

		&__title {
			width: max-content;

			&-logo {
				&-img {
					height: 30px;
				}

				&-name {
					font-size: 24px;
				}
			}

			&-navbar {
				&-item {
					margin-left: 20px;
				}
			}
		}

		&__navbar {
			width: 70%;

			&-item {
				margin-left: 30px;
			}
		}
	}

	.intro {
		.container {
			flex-wrap: wrap;
		}

		&__info {
			width: 100%;

			&-heading {
				font-size: 72px;
				text-align: center;
			}

			&-para {
				font-size: 20px;
				text-align: center;
			}
		}

		&__images {
			display: block;
			position: relative;
			animation: none;
			width: 100%;
			height: 550px;
			left: 5%;
		}

		&__image {
			display: block;
			position: absolute;
			animation: none;
			top: 40px;
			left: 0;

			&--dispecink {
				left: 15%;
				z-index: 1;
				height: 500px;
			}

			&--pikolik {
				top: 150px;
				left: 8%;
				right: auto;
				z-index: 5;
				height: 400px;

				img {
					transform: none;
				}
			}

			&--agregator {
				right: 23%;
				left: auto;
				top: 275px;
				z-index: 8;
				height: 350px;
			}
		}
	}

	.products {
		&::before {
			height: 600px;
		}

		&__items {
			&-item {
				padding: 40px;

				&-text {
					&-heading {
						font-size: 26px;
					}
				}

				&-img {
					width: 15%;
				}
			}
		}
	}

	.reasons {
		&__list {
			flex-wrap: wrap;

			&-item {
				width: 45%;
				margin-bottom: 30px;

				&-heading {
					margin-top: 0;
				}
			}
		}
	}

	.reviews {
		padding: 150px 0;
	}

	.demo {
		&__dialog {
			max-width: 70vw;
		}
	}
}

@media screen and (max-width: 992px) {

	.header {
		&__title {
			&-logo {
				&-img {
					height: 40px;
				}
			}

			&-navbar {
				display: none;
			}
		}

		&__navbar {
			&--large {
				display: none;
			}

			&--small {
				box-shadow: 0 15px 15px #0000000a;
				display: block;
				height: 100vh;
				max-width: 50vw;
				width: 100% !important;
				background-color: white;
				z-index: 20;
				position: fixed;
				top: 0;
				right: 0;
				transition: $transition;

				&-items {
					display: flex;
					flex-direction: column;
				}

				&-item {
					margin-left: 0;
					padding: 30px;
					font-size: 24px;

					&-close-button {
						border: none;
						background-color: transparent;
						font-size: 40px !important;
						align-self: flex-end;
						margin-bottom: 0;

						&:hover {
							color: $red-dark;
							cursor: pointer;
						}
					}

					&--product {
						color: $gray-extradark;
						transition: $transition;

						&:hover {
							color: $red-dark;
						}
					}

					&--link.button {
						width: 50%;
						margin: 0 auto;
					}
				}

			}

			&-burger {
				width: 50px !important;
				padding: 10px;
				background-color: transparent;
				border: none;
				display: flex;
				flex-direction: column;

				&:hover {
					cursor: pointer;
				}

				span {
					display: block;
					width: 100%;
					height: 4px;
					background-color: $gray-medium;
					border-radius: 20px;

					&:nth-child(1) {
						margin-bottom: 10px;
					}

					&:nth-child(3) {
						margin-top: 10px;
					}

				}
			}
		}
	}


	section {
		padding: 50px 0;
	}

	.intro {
		padding-top: 100px;
		margin-bottom: 50px !important;

		&__images {
			height: 700px;
			left: 2%;
		}

		&__image {
			&--dispecink {
				left: 10%;
			}

			&--pikolik {
				height: 450px;
				top: 30%;
				left: -5%;
			}

			&--agregator {
				height: 350px;
				top: 57%;
				right: 8%;
			}
		}
	}

	.products {
		&::before {
			width: 120%;
			height: 90%;
			border-radius: 0 2000px 2000px 2000px;
		}

		&__items {
			flex-direction: column;

			&-item {
				width: 100%;
			}
		}
	}

	.reasons {
		&__list {
			&-item {
				width: 100%;

				&-heading {
					font-size: 30px;
				}
			}
		}
	}

	.reviews {
		padding: 100px 0;

		&__box {
			width: 80%;
		}
	}

	.footer {
		.row {
			justify-content: center;
			align-items: stretch;
			flex-wrap: wrap;

			&__column {
				width: 50%;

				&:first-of-type {
					margin-bottom: 30px;
				}

				&-address {
					img {
						width: 150px;
					}
				}
			}
		}
	}

	.demo {
		&__form {
			display: flex;
			flex-direction: column;

			&>* {
				margin: 0 auto;
			}

			&-email {
				width: 80%
			}

			&-submit {
				width: 50%;
				margin-top: 20px;
			}
		}
	}
}

@media screen and (max-width: 768px) {

	.header {
		&__navbar {
			&-item {
				&.button {
					width: 80%;
				}
			}
		}
	}

	.intro {
		&__info {
			&-heading {
				font-size: 60px;
			}
		}

		&__images {
			height: 450px;
			left: 5%;
		}

		&__image {
			&--dispecink {
				height: 350px;
			}

			&--pikolik {
				height: 300px;
			}

			&--agregator {
				height: 250px;
				top: 60%;
				right: 10%;
			}
		}
	}

	.products {
		&__text {
			width: 70%;
		}
	}

	.reviews {
		width: 110%;
		right: 5vw;

		&__box {
			width: 100%;
			right: 0;
		}
	}

}

@media screen and (max-width: 576px) {

	:root {
		word-wrap: break-word;
	}

	.button {
		text-align: center;
		width: auto;
		padding: 15px;
		flex-wrap: wrap;
		word-wrap: break-word;
	}

	.header {
		height: 80px !important;

		&__navbar {
			&--small {
				max-width: 60%;

				&-item {
					font-size: 20px;
				}
			}

			&-burger {
				span {
					height: 3px;

					&:first-child {
						margin-bottom: 8px;
					}

					&:last-child {
						margin-top: 8px;
					}
				}
			}
		}
	}

	.intro {
		padding-top: 100px;

		&__info {
			&-heading {
				font-size: 40px;
				line-height: 50px;
			}

			&-buttons {
				width: auto;

				&-button {
					width: 100%;
					margin: 0 auto;
				}
			}
		}

		&__images {
			left: 0 !important;
		}

		&__image {

			&--dispecink {
				left: 0;
				
			}
			&--pikolik {
				top: 15%;
				right: 50%;
				left: auto;

			}

			&--agregator {
				top: 50%;
				left: 20%;
				right: auto;
			}
		}
	}

	.products {
		&__items {
			&-item {
				overflow: hidden;
				position: relative;

				&-text {
					width: 100%;
					text-align: center;

					&-description {
						width: 100%;
						text-align: center;
					}
				}

				&-img {
					position: absolute;
					top: -10%;
					right: -20%;
					height: auto;
					width: auto;

					img {
						height: 200px;
						filter: grayscale(1) opacity(0.05);
						transform: none;
					}

					&::before {
						display: none;
					}
				}

				a {
					text-align: center;
				}

				&--pikolik {
					.products__items-item-img {
						right: -45%;
					}
				}

				&--dispecink {
					.products__items-item-img {
						top: 0;
						right: 20%;
					}
				}

				&:hover {
					.products__items-item-img {
						img {
							filter: grayscale(1) opacity(0.05);
						}
					}

					a {
						color: $red-extralight;
					}
				}
			}
		}
	}

	.faqbox {
		width: 100%;
		padding: 30px 0;

		h2,
		p {
			padding: 0 30px;
		}
	}

	.reviews {
		padding: 50px 0;
		width: 100%;
		right: 0;
		border-radius: 0;
		background-size: cover;

		&__box {
			height: 250px;
		}
	}

	.questions {
		&__item {
			&-question {
				width: 100%;
				justify-content: center;
			}
		}
	}

	.footer {
		&__img {
			top: -190px;

			&-building {
				height: 130px;
			}

			&-scooter {
				height: 70px;
			}
		}

		.row {
			flex-direction: column;

			&__column {
				width: 100%;
				flex-direction: column;

				&-address {
					display: flex;

					.socials {
						margin-top: 0;

						&__link {
							margin-right: 5px;
						}
					}
				}
			}
		}
	}

	.demo {
		&__dialog {
			max-width: 100%;
		}

		&__content {
			padding: 20px;
		}

		&__heading {
			position: relative;
			padding: 70px 0 20px;
			width: calc(100% + 40px);
			top: -20px;
			left: -20px;
			margin: 0;
		}

		.button--full {
			width: auto;
		}

		&__form {
			* {
				width: 100%;
			}
		}

		&__close-button {
			z-index: 2000;
		}
	}
}

@media screen and (max-width: 400px) {

	.header {
		&__title {
			&-logo {
				&-img {
					height: 24px;
				}

				&-name {
					font-size: 20px;
				}
			}
		}

		&__navbar {
			&-item {
				padding: 20px;
			}
		}
	}

	.intro {
		&__info {
			&-heading {
				font-size: 30px;
			}
		}
	}

	.reviews {
		&__box {
			height: 300px;
		}
	}

	.footer {
		.row {
			&__column {
				margin-bottom: 20px !important;
			}
		}
	}
}