@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
:root {
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}

html,
body,
main {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

section {
  padding: 100px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding: 28px 0;
  width: 404px;
  overflow: none;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font: normal small-caps 400 18px "Rubik", sans-serif;
}
.button-text {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.button-arrow {
  position: relative;
  width: 0;
  font-size: 1.4rem;
  top: -1px;
  left: 14px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(10px);
}
.button--full {
  background-color: #C30010 !important;
  color: white !important;
  border: none !important;
}
.button--outlined {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid #C30010;
}
.button--outlined.enabled {
  background-color: #C30010;
  color: white !important;
}
.button--outlined.disabled {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid #C30010;
}
.button--outlined.disabled:hover {
  cursor: not-allowed;
}
.button--inverted {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid transparent;
}
.button--inverted:hover {
  border: 1px solid #C30010;
}
.button:hover {
  cursor: pointer;
}
.button:hover > .button-text {
  transform: translateX(-15px);
}
.button:hover > .button-arrow {
  opacity: 1;
  transform: translateX(-5px);
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .button {
    width: 100% !important;
    padding: 15px !important;
  }
  .button:hover > .button-text {
    transform: none;
  }
  .button:hover > .button-arrow {
    opacity: 0;
    transform: none;
  }
}
:root {
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}

html,
body,
main {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

section {
  padding: 100px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding: 28px 0;
  width: 404px;
  overflow: none;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font: normal small-caps 400 18px "Rubik", sans-serif;
}
.button-text {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.button-arrow {
  position: relative;
  width: 0;
  font-size: 1.4rem;
  top: -1px;
  left: 14px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(10px);
}
.button--full {
  background-color: #C30010 !important;
  color: white !important;
  border: none !important;
}
.button--outlined {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid #C30010;
}
.button--outlined.enabled {
  background-color: #C30010;
  color: white !important;
}
.button--outlined.disabled {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid #C30010;
}
.button--outlined.disabled:hover {
  cursor: not-allowed;
}
.button--inverted {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid transparent;
}
.button--inverted:hover {
  border: 1px solid #C30010;
}
.button:hover {
  cursor: pointer;
}
.button:hover > .button-text {
  transform: translateX(-15px);
}
.button:hover > .button-arrow {
  opacity: 1;
  transform: translateX(-5px);
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .button {
    width: 100% !important;
    padding: 15px !important;
  }
  .button:hover > .button-text {
    transform: none;
  }
  .button:hover > .button-arrow {
    opacity: 0;
    transform: none;
  }
}
.header {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 150px;
  box-shadow: 0 15px 15px #0000000a;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container > * {
  width: 50%;
}
.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 55%;
}
.header-title-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.header-title-logo-link-img {
  height: 30px;
  width: auto;
}
.header-title-logo-name {
  display: block;
  font: normal small-caps 500 24px "Rubik", sans-serif;
  text-decoration: none;
  color: #830A0F;
  margin-left: 8px;
}
.header-title-description {
  display: block;
  font: normal normal 300 18px "Rubik", sans-serif;
  transition: all 0.3s ease-in-out;
}
.header-title-description b {
  font-weight: 500;
}
.header-navbar {
  display: flex;
  justify-content: right;
  align-items: center;
}
.header-navbar--small {
  display: none;
}
.header-navbar-burger {
  display: none;
}
.header-navbar-item {
  color: #919191;
  font: normal normal 500 16px "Rubik", sans-serif;
  margin-left: 40px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.header-navbar-item:hover {
  color: black;
}
.header-navbar-item--outlined {
  color: white;
  background-color: #C30010;
  padding: 15px 40px;
  border-radius: 400px;
}
.header-navbar-item--outlined:hover {
  color: white;
  background-color: #E10819;
}

@media screen and (max-width: 1400px) {
  .header-navbar-item {
    margin-left: 25px;
  }
  .header-title-logo-link-img {
    height: 26px;
  }
  .header-title-logo-name {
    font-size: 20px;
  }
  .header-title-description {
    font-size: 16px;
  }

  .intro-divider {
    top: calc(-6vw - 90px);
  }
}
@media screen and (max-width: 1200px) {
  .header-title {
    width: max-content;
  }
  .header-title-logo-link-img {
    height: 30px;
  }
  .header-title-logo-name {
    font-size: 24px;
  }
  .header-title-description {
    display: none;
  }
  .header-navbar {
    width: 70%;
  }
  .header-navbar-item {
    margin-left: 50px;
  }
}
@media screen and (max-width: 992px) {
  .header-navbar--large {
    display: none;
  }
  .header-navbar--small {
    box-shadow: 0 15px 15px #0000000a;
    display: block;
    height: 100vh;
    max-width: 50vw;
    background-color: white;
    z-index: 20;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
  }
  .header-navbar--small-items {
    display: flex;
    flex-direction: column;
  }
  .header-navbar--small-item {
    margin-left: 0;
    padding: 30px;
    font-size: 24px;
  }
  .header-navbar--small-item-close-button {
    border: none;
    background-color: transparent;
    font-size: 40px !important;
    align-self: flex-end;
    margin-bottom: 0;
  }
  .header-navbar--small-item-close-button:hover {
    cursor: pointer;
    color: #C30010;
  }
  .header-navbar--small-item--outlined {
    margin: 0 20px;
    text-align: center;
  }
  .header-navbar--small.is-opened {
    transform: translateX(0%);
  }
  .header-navbar--small.is-closed {
    transform: translateX(100%);
  }
  .header-navbar-burger {
    display: flex !important;
    width: 60px !important;
    padding: 10px;
    background-color: transparent;
    border: none;
    flex-direction: column;
  }
  .header-navbar-burger:hover {
    cursor: pointer;
  }
  .header-navbar-burger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #919191;
    border-radius: 20px;
  }
  .header-navbar-burger span:nth-child(1) {
    margin-bottom: 10px;
  }
  .header-navbar-burger span:nth-child(3) {
    margin-top: 10px;
  }
}
@media screen and (max-width: 576px) {
  .header {
    height: 100px;
  }
  .header-navbar-burger {
    width: 52px !important;
  }
  .header-navbar-burger span {
    height: 4px;
  }
  .header-navbar-burger span:first-child {
    margin-bottom: 8px;
  }
  .header-navbar-burger span:last-child {
    margin-top: 8px;
  }
  .header-navbar--small {
    max-width: 70%;
  }
  .header-navbar--small-item {
    font-size: 18px;
  }
  .header-navbar--small-item--outlined {
    padding: 20px;
  }
}
@media screen and (max-width: 400px) {
  .header-title-logo-link-img {
    height: 24px;
  }
  .header-title-logo-name {
    font-size: 20px;
  }
}
:root {
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}

html,
body,
main {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

section {
  padding: 100px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding: 28px 0;
  width: 404px;
  overflow: none;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font: normal small-caps 400 18px "Rubik", sans-serif;
}
.button-text {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.button-arrow {
  position: relative;
  width: 0;
  font-size: 1.4rem;
  top: -1px;
  left: 14px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(10px);
}
.button--full {
  background-color: #C30010 !important;
  color: white !important;
  border: none !important;
}
.button--outlined {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid #C30010;
}
.button--outlined.enabled {
  background-color: #C30010;
  color: white !important;
}
.button--outlined.disabled {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid #C30010;
}
.button--outlined.disabled:hover {
  cursor: not-allowed;
}
.button--inverted {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid transparent;
}
.button--inverted:hover {
  border: 1px solid #C30010;
}
.button:hover {
  cursor: pointer;
}
.button:hover > .button-text {
  transform: translateX(-15px);
}
.button:hover > .button-arrow {
  opacity: 1;
  transform: translateX(-5px);
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .button {
    width: 100% !important;
    padding: 15px !important;
  }
  .button:hover > .button-text {
    transform: none;
  }
  .button:hover > .button-arrow {
    opacity: 0;
    transform: none;
  }
}
.footer {
  background-color: #252525;
  color: white;
  margin-top: 150px;
  padding: 25px 0px 70px;
}
.footer-img {
  position: relative;
  top: -196px;
  margin-bottom: -155px;
}
.footer-img-building {
  left: 15vw;
}
.footer-img-scooter {
  left: 20vw;
}
.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .row-column {
  width: 20%;
}
.footer a {
  display: block;
  width: max-content;
  color: white;
  text-decoration: none;
  font: normal normal 300 16px "Rubik", sans-serif;
}
.footer address {
  font: normal normal 300 16px "Rubik", sans-serif !important;
}
.footer .row-column-address a {
  width: max-content;
}
.footer .row-column-address img {
  width: 200px;
}
.footer .row-column-address .socials {
  margin-top: 20px;
  display: flex;
}
.footer .row-column-address .socials-link {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-right: 20px;
  border: 2px solid white;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.footer .row-column-address .socials-link i {
  padding: 6px 4px;
  margin-bottom: 0px;
  box-sizing: content-box !important;
}
.footer .row-column-address .socials-link:hover {
  background-color: white;
  color: #252525;
}
.footer .row-column-restia a {
  text-decoration: underline;
}
.footer .row-column-contact .tel:first-of-type {
  margin-bottom: 20px;
}
.footer .row-column-heading {
  display: block;
  font: normal normal 500 21px "Rubik", sans-serif;
  color: #C30010;
  padding-bottom: 10px !important;
}
.footer .row-column * {
  margin-bottom: 5px;
}

@media screen and (max-width: 992px) {
  .footer .row {
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .footer .row-column {
    width: 50%;
  }
  .footer .row-column:first-of-type {
    margin-bottom: 30px;
  }
  .footer .row-column-address img {
    width: 150px;
  }
}
@media screen and (max-width: 576px) {
  .footer-img {
    top: -195px;
  }
  .footer-img-building {
    height: 130px;
  }
  .footer-img-scooter {
    height: 70px;
  }
  .footer .row {
    flex-direction: column;
  }
  .footer .row-column {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer .row-column-address .socials {
    margin-top: 0;
  }
  .footer .row-column-address .socials-link {
    margin-right: 5px;
  }
}
:root {
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}

html,
body,
main {
  position: relative;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

section {
  padding: 100px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  padding: 28px 0;
  width: 404px;
  overflow: none;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font: normal small-caps 400 18px "Rubik", sans-serif;
}
.button-text {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.button-arrow {
  position: relative;
  width: 0;
  font-size: 1.4rem;
  top: -1px;
  left: 14px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(10px);
}
.button--full {
  background-color: #C30010 !important;
  color: white !important;
  border: none !important;
}
.button--outlined {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid #C30010;
}
.button--outlined.enabled {
  background-color: #C30010;
  color: white !important;
}
.button--outlined.disabled {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid #C30010;
}
.button--outlined.disabled:hover {
  cursor: not-allowed;
}
.button--inverted {
  background-color: white;
  color: #C30010 !important;
  border: 1px solid transparent;
}
.button--inverted:hover {
  border: 1px solid #C30010;
}
.button:hover {
  cursor: pointer;
}
.button:hover > .button-text {
  transform: translateX(-15px);
}
.button:hover > .button-arrow {
  opacity: 1;
  transform: translateX(-5px);
}

@media screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .button {
    width: 100% !important;
    padding: 15px !important;
  }
  .button:hover > .button-text {
    transform: none;
  }
  .button:hover > .button-arrow {
    opacity: 0;
    transform: none;
  }
}
.demo {
  padding-right: 0 !important;
  overflow: auto;
}
.demo-dialog {
  max-width: 40vw;
}
.demo-content {
  position: relative;
  padding: 30px 50px;
  border-radius: 20px;
  border: 2px solid #919191;
  box-shadow: 0px 8px 10px #00000029;
}
.demo-content * {
  text-align: center;
}
.demo-close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: transparent;
  border: none;
  font-size: 40px;
  color: #707070;
  transition: all 0.3s ease-in-out;
}
.demo-close-button:hover {
  cursor: pointer;
  color: #C30010;
}
.demo-heading {
  background-image: linear-gradient(#ffffff88, white), url("../assets/home/demo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(100% + 60px);
  margin: -30px;
  margin-bottom: 0px;
  padding: 50px 30px;
  font: normal normal 600 30px "Rubik", sans-serif;
  color: #4E4E4E;
  border-radius: 20px 20px 0 0;
}
.demo-heading .is-red {
  color: #C30010;
}
.demo p {
  font-weight: 500;
}
.demo .button--full {
  margin: 20px auto;
}
.demo small {
  font: normal italic 300 16px "Rubik", sans-serif;
  color: #919191;
}
.demo-form {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.demo-form-email {
  width: 70%;
  padding: 16px;
  border: 1px solid #CACACA;
  border-radius: 50px;
  text-align: left;
  font: normal normal 300 16px "Rubik", sans-serif;
  color: #4E4E4E;
  transition: all 0.3s ease-in-out;
}
.demo-form-email::placeholder {
  text-align: left;
  color: #919191;
}
.demo-form-email:focus {
  border: 1px solid #C30010;
  outline: none;
}
.demo-form-submit {
  width: 25%;
  margin-top: 0;
  padding: 16px;
}
.demo-form-submit.enabled:hover {
  background-color: #E10819;
}

.modal-open {
  padding-right: 0 !important;
}

@media screen and (max-width: 1400px) {
  .demo-dialog {
    max-width: 60vw;
  }
}
@media screen and (max-width: 1200px) {
  .demo-dialog {
    max-width: 70vw;
  }
}
@media screen and (max-width: 992px) {
  .demo-form {
    display: flex;
    flex-direction: column;
  }
  .demo-form > * {
    margin: 0 auto;
  }
  .demo-form-email {
    width: 80%;
  }
  .demo-form-submit {
    width: 50%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .demo .button--full {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .demo-dialog {
    max-width: 100%;
  }
  .demo-content {
    padding: 20px;
  }
  .demo-heading {
    position: relative;
    padding: 70px 0 20px;
    width: calc(100% + 40px);
    top: -20px;
    left: -20px;
    margin: 0;
  }
  .demo-form * {
    width: 100%;
  }
  .demo-close-button {
    z-index: 2000;
  }
}
:root {
  font-family: "Rubik", sans-serif !important;
}

h2 {
  font: normal small-caps 400 40px "Rubik", sans-serif;
}

.header-title {
  width: 80%;
}

.intro {
  padding-top: 200px;
  background-color: #F8F8F8;
}
.intro .container {
  display: flex;
  justify-content: space-between;
}
.intro-info {
  position: relative;
  width: 50%;
}
.intro-info-header {
  text-align: center;
  margin-bottom: 90px;
}
.intro-info-header-heading {
  font: normal small-caps 400 30px "Rubik", sans-serif;
}
.intro-info-header-description {
  font: normal normal 400 20px "Rubik", sans-serif;
}
.intro-info-list {
  position: relative;
  padding-left: 2ch;
  list-style: disc;
}
.intro-info-list-line {
  position: absolute;
  top: 8px;
  left: -1px;
  border: 1px dashed #4E4E4E;
  z-index: 1;
}
.intro-info-list-item {
  position: relative;
  padding-left: 20px;
  width: 80%;
}
.intro-info-list-item::marker {
  vertical-align: middle;
  font-size: 30px;
  transition: 0.2s all linear;
  background-color: white;
  color: #4E4E4E;
  z-index: 2;
}
.intro-info-list-item::before {
  content: "";
  display: block;
  position: absolute;
  left: -41px;
  top: 0px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
  transform-origin: center;
  background-color: #C30010;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  z-index: 2;
}
.intro-info-list-item-description {
  font: italic normal 400 18px "Nunito", sans-serif;
  text-align: left;
  color: #919191;
}
.intro-info-list-item:hover::marker {
  display: none;
  color: transparent;
}
.intro-info-list-item:hover::before {
  transform: scale(1.2);
}
.intro-info-list-item:nth-of-type(1)::before {
  background-image: url("../assets/online/icon-s-sebou.svg");
}
.intro-info-list-item:nth-of-type(2)::before {
  background-image: url("../assets/online/icon-na-rozvoz.svg");
  background-size: 80%;
}
.intro-info-list-item:nth-of-type(3)::before {
  background-image: url("../assets/online/icon-ke-stolu.svg");
}
.intro-info-list::before {
  position: absolute;
  content: "";
  top: -10%;
  right: -50%;
  background-color: white;
  width: 200%;
  height: 155%;
  border-radius: 500px;
  border-top-left-radius: 0;
}
.intro-info-button {
  position: relative;
  margin: 50px auto 0;
  z-index: 2;
}
.intro-video {
  position: relative;
  top: 200px;
  width: 45%;
  z-index: 2;
}
.intro-video-video {
  position: absolute;
  top: 0;
  height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 40px;
}
.intro-video-button {
  position: absolute;
  width: max-content;
  top: 450px;
  right: -30px;
  font-size: 24px;
  margin-top: 0;
  padding: 30px;
}
.intro-video-button i {
  position: relative;
  width: 30px;
  height: 30px;
  top: 2px;
  left: 1px;
  transition: all 0.3s ease-in-out;
}
.intro-video-button:hover i {
  transform: scale(1.15);
}

@-moz-document url-prefix() {
  .intro-info-list-item::before {
    top: -11px;
  }
}
@keyframes scrollingClients {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
.clients {
  position: relative;
  padding: 0;
  background-color: #F8F8F8;
  position: relative;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  height: 150px;
  z-index: 2;
}
.clients-carousel {
  position: absolute;
  left: 0;
  overflow-x: hidden;
  white-space: nowrap;
  animation: scrollingClients 20s linear infinite;
}
.clients:hover .clients-carousel {
  animation-play-state: paused;
}
.clients-store {
  padding: 0 4vw;
  height: 80px !important;
}

.benefits {
  position: relative;
}
.benefits-header {
  margin-bottom: 100px;
  text-align: center;
}
.benefits-header-heading {
  font: normal small-caps 400 30px "Rubik", sans-serif;
}
.benefits-bubbles {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.benefits-bubbles::before {
  content: "";
  position: absolute;
  top: -10%;
  right: -23%;
  width: 130%;
  height: 120%;
  background-color: #F8F8F8;
  border-radius: 500px 0 0 500px;
  z-index: -1;
}
.benefits-bubbles-bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 400px;
  color: white;
  background-color: #C30010;
  text-align: center;
}
.benefits-bubbles-bubble:nth-child(2) {
  width: 360px;
  height: 360px;
}
.benefits-bubbles-bubble-heading {
  margin-top: 0;
  font: normal normal 600 42px "Nunito", sans-serif;
}
.benefits-bubbles-bubble-description {
  width: 80%;
}
.benefits-buttons {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.benefits-buttons-button {
  margin: 0 50px 0;
  z-index: 3;
}
.benefits-buttons-button:first-of-type {
  margin-left: 0;
}
.benefits-buttons-button:last-of-type {
  margin-right: 0;
}
.benefits-bag {
  position: absolute;
  top: 120px;
  left: 0;
  width: 20%;
  z-index: -1;
}
.benefits-tray {
  position: absolute;
  right: 0;
  bottom: 70px;
  width: 20%;
  z-index: 1;
}

.features {
  padding: 0 0 50px;
}
.features-header {
  text-align: center;
  margin-bottom: 70px;
}
.features-header-heading {
  font-size: 30px;
}
.features-header-description {
  text-align: center;
  width: 75%;
  font-size: 20px;
  margin: 0 auto;
}
.features-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}
.features-list-item {
  width: 30%;
  padding: 30px;
  background-color: #F8F8F8;
  border-radius: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 4px 7px #00000029;
}
.features-list-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.features-list-item-header-img {
  width: 30%;
  height: auto;
  max-height: 80px;
  transition: all 0.3s ease-in-out;
}
.features-list-item-header-heading {
  margin: 16px auto;
  text-align: center;
  width: 52%;
  font: normal normal 600 26px "Rubik", sans-serif;
  color: #C30010;
}
.features-list-item-description {
  font: normal normal 600 18px "Nunito", sans-serif;
  text-align: center;
}
.features-list-item:hover .features-list-item-header-img {
  transform: scale(1.1);
}

.reviews {
  position: relative;
  padding: 0;
  margin: 150px 0 50px;
  background-image: url("../assets/online/carousel-item-1.jpg");
  background-size: cover;
  transition: all 0.6s ease;
  /*&::before {
  	content: "";
  	position: absolute;
  	transition: all .6 ease;
  }
  &.transitioning {
  	&::before {
  		top: 0;
  		left: 0;
  		width: 100%;
  		height: 100%;
  		background-image: inherit;
  		filter: opacity(0.5);
  	}
  }*/
}
.reviews.i0 {
  background-image: url("../assets/online/carousel-item-1.jpg");
}
.reviews.i1 {
  background-image: url("../assets/online/carousel-item-2.jpg");
}
.reviews.i2 {
  background-image: url("../assets/online/carousel-item-3.jpg");
}
.reviews.i3 {
  background-image: url("../assets/online/carousel-item-4.jpg");
}
.reviews.i4 {
  background-image: url("../assets/online/carousel-item-5.jpg");
}
.reviews-header {
  position: relative;
  top: -100px;
  margin-bottom: -100px;
  padding: 50px 0;
  background-color: #F3F3F3;
  text-align: center;
}
.reviews-header-heading {
  margin-top: 0;
  font: small-caps normal 400 30px "Rubik", sans-serif;
}
.reviews-header-description {
  font: normal normal 400 20px "Nunito", sans-serif;
}
.reviews .container.body {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 900px;
}
.reviews-box {
  width: 50%;
  height: 50%;
  border-radius: 5px;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
.reviews-box-canvas {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.reviews-box-indicators {
  align-items: center;
}
.reviews-box-indicators-indicator {
  height: 8px !important;
  width: 8px !important;
  border-radius: 10px !important;
  background-color: transparent !important;
  border: 2px solid white !important;
}
.reviews-box-indicators-indicator.active {
  height: 12px !important;
  width: 12px !important;
  border: none !important;
  background-color: white !important;
}
.reviews-box .carousel-inner {
  height: 100%;
  width: 100%;
}
.reviews-box-review {
  height: 100%;
  width: 100%;
}
.reviews-box-review figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  margin: 0 auto;
  color: white;
}
.reviews-box-review figure blockquote {
  font: normal normal 500 20px "Nunito", sans-serif;
  margin-bottom: 0;
}
.reviews-box-review figure blockquote p {
  margin-bottom: 30px;
}
.reviews-box-review figure blockquote p::before {
  content: "„";
}
.reviews-box-review figure blockquote p::after {
  content: "“";
}
.reviews-box-review figure figcaption {
  font: normal normal 900 20px "Nunito", sans-serif;
  align-self: flex-end;
}
.reviews-box-review figure figcaption::before {
  content: "– ";
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .reviews-box {
    transform: translateX(0);
    background-color: #00000088;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(30px);
  }
}
/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .reviews-box {
    background-color: #120a09aa;
  }
  .reviews-box::before {
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(10px);
  }
}
.try {
  margin-top: 300px;
}
.try-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(103deg, #C30010, #E10819);
  margin-top: -200px;
  z-index: 2;
  padding: 60px 80px;
  border-radius: 40px;
}
.try-box-text {
  text-align: center;
  color: white;
}
.try-box-text-heading {
  margin: 0;
  font: normal normal 400 35px "Rubik", sans-serif;
}
.try-box-text-para {
  text-align: center;
  font: normal normal 500 26px "Nunito", sans-serif;
}
.try-box-text-button {
  margin-left: auto;
  margin-right: auto;
}
.try-box-text-button:hover {
  border: 1px solid transparent;
}
.try-box-img {
  position: absolute;
  height: 550px;
  right: 0;
  margin: 0;
  z-index: 3;
}

.table {
  position: relative;
  top: 200px;
  left: -50px;
  width: 70%;
  height: auto;
  z-index: -1;
}

@media screen and (max-width: 1400px) {
  .intro-video {
    top: 100px;
  }

  .benefits-bag {
    top: 150px;
  }
  .benefits-tray {
    bottom: 100px;
  }

  .features-list-item {
    padding-bottom: 20px;
  }
  .features-list-item-header-img {
    align-self: flex-start;
  }
  .features-list-item-header-heading {
    font-size: 24px;
    width: 58%;
    margin: 0;
  }

  .reviews .container.body {
    height: 700px;
  }

  .try {
    padding-bottom: 150px;
  }
  .try-box-text {
    width: 75%;
  }
  .try-box-img {
    right: 2%;
  }

  .table {
    width: 60%;
    top: 170px;
    margin-top: -50px;
  }
}
@media screen and (max-width: 1200px) {
  .intro-info-header-heading {
    margin-top: 0;
  }
  .intro-info-list-item {
    width: 95%;
  }
  .intro-video {
    top: 0;
  }
  .intro-video-button {
    left: -45px;
    right: auto;
  }

  .benefits-bubbles-bubble {
    width: 280px;
    height: 280px;
  }
  .benefits-bubbles-bubble:nth-child(2) {
    width: 320px;
    height: 320px;
  }
  .benefits-bag {
    top: 150px;
  }
  .benefits-tray {
    bottom: 130px;
  }
  .benefits-buttons-button {
    min-width: 404px;
  }

  .features-list-item {
    width: 48%;
  }
  .features-list-item-header-heading {
    width: 67%;
  }

  .reviews .container.body {
    height: 600px;
  }
  .reviews-box {
    width: 60%;
    height: 60%;
  }

  .try-box-text {
    width: 67%;
  }

  .table {
    width: 80%;
    left: -10px;
  }
}
@media screen and (max-width: 992px) {
  .intro {
    padding-top: 175px;
  }
  .intro .container {
    flex-wrap: wrap;
  }
  .intro-info {
    width: 100%;
    margin-bottom: 50px;
  }
  .intro-info-list::before {
    height: 160%;
  }
  .intro-video {
    position: relative;
    width: 100%;
  }
  .intro-video-video {
    position: static;
    aspect-ratio: 16/9;
    height: auto;
  }
  .intro-video-button {
    top: 360px;
    left: calc(50% - 45px);
    right: auto;
  }

  .benefits-bubbles {
    flex-wrap: wrap;
  }
  .benefits-bubbles-bubble {
    position: relative;
    top: -30px;
  }
  .benefits-bubbles-bubble:nth-child(1) {
    left: 100px;
  }
  .benefits-bubbles-bubble:nth-child(2) {
    top: 200px;
    right: 30px;
  }
  .benefits-bubbles-bubble:nth-child(3) {
    left: 50px;
  }
  .benefits-bubbles-bubble-heading {
    margin-bottom: 20px;
  }
  .benefits-buttons {
    flex-wrap: wrap;
  }
  .benefits-buttons-button {
    width: 80%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .benefits-buttons-button:first-of-type {
    margin-bottom: 30px;
  }
  .benefits-bag {
    top: 200px;
    width: 30%;
  }
  .benefits-tray {
    bottom: 250px;
    width: 30%;
  }

  .reviews {
    background-position: center;
  }
  .reviews-header {
    padding: 50px;
  }
  .reviews-box {
    width: 100%;
    height: 50%;
  }

  .try {
    margin-top: 200px;
    padding-bottom: 250px;
  }
  .try-box {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
  .try-box-text {
    width: 100%;
  }
  .try-box-img {
    position: static;
    height: auto;
    width: 60%;
    margin: 30px auto -300px;
  }
}
@media screen and (max-width: 768px) {
  .intro-video {
    height: 350px;
  }
  .intro-video-video {
    height: 100%;
  }
  .intro-video-button {
    top: 305px;
  }

  .benefits-bubbles {
    height: 580px;
  }
  .benefits-bubbles::before {
    width: 150%;
    right: -20%;
  }
  .benefits-bubbles-bubble:nth-child(1) {
    top: 0;
    left: 0;
    height: 240px;
    width: 240px;
  }
  .benefits-bubbles-bubble:nth-child(2) {
    top: 150px;
    right: 0;
    width: 260px;
    height: 260px;
  }
  .benefits-bubbles-bubble:nth-child(3) {
    top: 0;
    left: 0;
    width: 240px;
    height: 240px;
  }
  .benefits-bag {
    top: 270px;
    width: 35%;
    right: 0;
    left: auto;
    transform: rotateY(180deg);
  }
  .benefits-tray {
    bottom: 300px;
    width: 40%;
  }

  .features-list-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .features-list-item:last-child {
    margin-bottom: 0;
  }

  .reviews.i0 {
    background-image: url("../assets/online/carousel-item-1-small.jpg");
  }
  .reviews.i1 {
    background-image: url("../assets/online/carousel-item-2-small.jpg");
  }
  .reviews.i2 {
    background-image: url("../assets/online/carousel-item-3-small.jpg");
  }
  .reviews.i3 {
    background-image: url("../assets/online/carousel-item-4-small.jpg");
  }
  .reviews.i4 {
    background-image: url("../assets/online/carousel-item-5-small.jpg");
  }
  .reviews-header {
    padding: 30px 50px;
  }
  .reviews .container.body {
    height: 500px;
  }
  .reviews-box {
    height: 70%;
  }

  .try {
    padding-bottom: 220px;
  }
  .try-box-text-button {
    width: 100%;
  }
  .try-box-img {
    width: 65%;
    position: static;
    top: 0;
    margin: 50px 0 -75%;
  }

  .table {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .intro {
    padding-top: 165px;
  }
  .intro-video-button {
    right: auto;
    width: max-content !important;
  }
  .intro-info-list {
    margin-left: 2ch;
  }
  .intro-info-list::before {
    right: 0;
    width: 150%;
  }
  .intro-info-list-item {
    width: 85%;
    padding-left: 10px;
  }
  .intro-info-list-item-description {
    width: 90%;
  }

  .benefits-bubbles {
    height: auto;
    justify-content: center;
  }
  .benefits-bubbles-bubble {
    position: static;
    width: 80% !important;
    height: auto !important;
    aspect-ratio: 1/1;
    margin-bottom: 30px;
    padding: 30px;
  }
  .benefits-bubbles-bubble:last-child {
    margin-bottom: 0;
  }
  .benefits-buttons-button {
    margin: 0;
  }
  .benefits-bag {
    display: none;
    top: 12%;
    left: 0;
    width: 50%;
    right: auto;
    transform: none;
    z-index: 2;
  }
  .benefits-tray {
    display: none;
  }

  .features-list-item {
    overflow: hidden;
  }
  .features-list-item-header {
    position: relative;
  }
  .features-list-item-header-heading {
    width: 100%;
  }
  .features-list-item-header-img {
    position: absolute;
    top: 30%;
    right: -10%;
    transform: scale(2);
    filter: grayscale(1) opacity(0.05);
  }
  .features-list-item:hover .features-list-item-header-img {
    transform: scale(2) !important;
  }

  .reviews {
    margin-top: 100px;
  }
  .reviews-header {
    top: 0;
    margin-bottom: 0;
    width: 100%;
  }
  .reviews-box {
    height: 85%;
  }
  .reviews-box-review figure blockquote {
    margin-bottom: 0;
  }

  .try {
    padding-bottom: 200px;
  }
  .try-box {
    padding: 40px 30px;
    flex-wrap: nowrap;
  }
  .try-box-text-heading {
    font-size: 28px;
  }
  .try-box-text-para {
    font-size: 22px;
  }
  .try-box-text-button {
    width: 100%;
    padding: 20px 10px;
  }
  .try-box-img {
    min-width: 200px;
    margin-bottom: -50%;
  }

  .table {
    display: none;
  }

  .footer {
    margin-top: 0;
  }
}
@media screen and (max-width: 400px) {
  .intro-info-list-item-description {
    width: 100%;
  }

  .benefits-bubbles-bubble {
    width: 100% !important;
  }

  .try {
    padding-bottom: 150px;
  }
}

/*# sourceMappingURL=online.css.map */
