$gray-extradark: #252525;
$gray-dark: #4E4E4E;
$gray-semidark: #707070;
$gray-medium: #919191;
$gray-semilight: #CACACA;
$gray-light: #F3F3F3;
$gray-extralight: #F8F8F8;
$red-dark: #830A0F;
$red-medium: #C30010;
$red-light: #E10819;
$red-extralight: #DC4040;
$font-family: "Rubik",
sans-serif;
$transition: all 0.3s ease-in-out;

:root {
	font-family: $font-family;
	letter-spacing: 1px;
}

html,
body,
main {
	position: relative;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

section {
	padding: 100px 0;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 50px;
	padding: 28px 0;
	width: 404px;
	overflow: none;
	border-radius: 100px;
	transition: $transition;
	text-decoration: none;
	font: normal small-caps 400 18px $font-family;

	&-text {
		position: relative;
		transition: $transition;
	}

	&-arrow {
		position: relative;
		width: 0;
		font-size: 1.4rem;
		top: -1px;
		left: 14px;
		opacity: 0;
		transition: $transition;
		transform: translateX(10px);
	}

	&--full {
		background-color: $red-medium !important;
		color: white !important;
		border: none !important;
	}

	&--outlined {
		background-color: white;
		color: $red-medium !important;
		border: 1px solid $red-medium;

		&.enabled {
			background-color: $red-medium;
			color: white !important;
		}

		&.disabled {
			background-color: white;
			color: $red-medium !important;
			border: 1px solid $red-medium;
			&:hover {
				cursor: not-allowed;
			}
		}
	}

	&--inverted {
		background-color: white;
		color: $red-medium !important;
		border: 1px solid transparent;
		&:hover {
			border: 1px solid $red-medium;
		}
	}

	&:hover {
		cursor: pointer;
	}
	&:hover > & {
		&-text {
			transform: translateX(-15px);
		}
		&-arrow {
			opacity: 1;
			transform: translateX(-5px);
		}
	}
}

@mixin scaleIn {
	transition: $transition;

	&:hover {
		transform: scale(1.1);
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.button {
		width: 100% !important;
		padding: 15px !important;
		&:hover > & {
			&-text {
				transform: none;
			}
			&-arrow {
				opacity: 0;
				transform: none;
			}
		}
	}
}